   <!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>方案详细页二</title>
<meta name="keywords" content="营销型网站,营销型网站建设,深圳网站建设,牛商网,网站托管,网站建设公司" />
<meta name="description" content="牛商网是深圳营销型网站建设公司,中国营销型网站创始者,营销型网站标准制定者,服务范围营销型网站建设,网站运营托管,网站外包,深圳网站建设等,咨询热线:4000-333-087" />
<link href="/Mobile/css/skins.css"  rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/projectdetail.css" rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/common.css" rel="stylesheet" type="text/css">
</head>


<body>
<!--头部-->

<!--logo-->
<div class="g-hd s-hd">
    <a href="/Mobile/index.html" name="logo" class="m-logo">
        <img src="/Mobile/Images/Common/logo.png" width="136"  alt="" title=""/>
    </a>
    <p class="m-tel">
        <i class="u-tel"><em class="z-ln-1 s-ln-1"></em><em class="z-ln-2 s-ln-2"></em></i>
        <a href="tel:4000-333-087" class="u-num s-num">4000-333-087</a><br/>
        <span class="u-text">让传统企业在网上牛起来！</span>
    </p>
</div>

<!--返回-->
<div class="g-back">
    <a href="javascript:history.go(-1)" class="u-bp f-fl"></a>
    <a href="/Mobile/MProduct/listnav.html" class="u-bl f-fr"></a>
    <a href="/Mobile/index.html" class="u-bh f-fr"></a>
</div>
<!--搜索-->
<div class="g-se">
	<span class="u-bt"></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>
<!--详细页-->
<div class="g-bd">
    <!--导航-->
    <h3 class="m-btit"><a href="/Mobile/index.html">首页</a><span></span><a href="#1">解决方案</a><span></span><a href="#1">家用油漆解决方案</a></h3>
    <div class="m-con2">
        <!--标题-->
        <div class="u-mtit">
          <h1 class="s-tit">家用油漆解决方案</h1>
        <P><i class="pl">2013年05月03日 17：40<a href="#1" class="num">评论:325</a></i></P>
        <!--方案内容-->
        <p><img src="/mobile/images/web/proje5.jpg" width="300" height="180"><br/><i class="wz">黑龙江省哈尔滨庄典漆专卖店</i></p>
        <p><img src="/mobile/images/web/proje6.jpg" width="300" height="180"><br/><i class="wz">湖南株洲市茶陵县庄典漆专卖店</i></p>
        <!--分页-->
        <div class="g-page f-tc">
                    <a class="u-pup" href="javascript:void(0)">上一页</a>
                    <a class="u-sa" href="javascript:void(0)">余下全文</a>
                    <p><span class="u-pnum">1</span>/5</p>
                    <a class="u-pne" href="#">下一页</a>
                </div>              
        <!--上一篇-->
        <p class="prevp">上一篇：<a href="#">济南格林豪泰</a></p>
        <p class="nextp">下一篇：<a href="#">安徽六安电力局宿舍</a></p>
</div>
</div>
</div>


<!--配套产品-->
<div class="g-pt2">
<h2><a href="#" class="z-on">配套产品</a></h2>
<ul>
<a href="#"><li><i class="ptimg"><img src="/mobile/images/web/pro6.jpg" width="180" height="180"></i><em class="ptwz">套房家具专用漆家具涂料</em></li></a>
<a href="#"><li><i class="ptimg"><img src="/mobile/images/web/pro7.jpg" width="180" height="180"></i><em class="ptwz">套房家具专用漆家具涂料</em></li></a>
<a href="#"><li><i class="ptimg"><img src="/mobile/images/web/pro8.jpg" width="180" height="180"></i><em class="ptwz">套房家具专用漆家具涂料</em></li></a>
<p class="clear"></p>
</ul>
</div>


<!--相关资讯-->
<div class="g-news2">
<h2><a href="#" class="z-on">相关案例</a></h2>
<p class="list">
    <a class="first" href="#">在河南太阳能热水系统日渐受到关注 </a>
    <a href="#">中国太阳能产品可能被美商务部"惩罚" </a>
    <a href="#">济南公路局宿舍太阳能热水工程 </a>
    <a href="#">家用太阳能热水系统国家强制性标准 </a>
</p>
</div>


</div>

<!--底部开始-->
<div class="g-ft">
    <a href="#logo"><div class="u-top f-pr">回到顶部<span></span></div></a>
    <div class="m-bmu">
    <p><a href="/Mobile/Template/Product/Model/Index/model1.html">欧镭首页</a>-<a href="#">网站导航</a>-<a href="/Mobile/Mproduct/prosearch.html">搜索</a>-<a href="#">收藏</a>-<a href="#">留言</a><br/>
    <a href="http://www.nsw88.com/">Copyright 2013 3g.nsw88.com</a><br/>
    版权所有 2003-2012 ICP备：07036507<br/>
    <p class="code"><img src="/Mobile/Images/Index/code.png" width="105" ></p><br/>
    扫一扫<br/>
</div>

</div>
<div class="social_nav3" id="akb_slide">
    <div class="social3 fl">
        <a class="tel" href="tel:020-25874152">电话咨询</a>
        <a class="weichat" href="weixin://qr/gXUXGArEEzRshxt7nyCl">网站地图</a>
        <a class="weibo" href="http://m.weibo.com/niushangwangniu">企业微博</a>
        <a class="talk99" href="/Mobile">首页</a>
        <span class="tel"></span>
        <span class="weichat"></span>
        <span class="weibo"></span>
        <span class="talk99"></span>
        <em class="line_1"></em>
        <em class="line_2"></em>
        <b></b>
    </div>
    <span class="btn"></span>
    <span class="btn2"></span>
</div>

</body>
<script type="text/javascript" src="/Mobile/js/Jquery.js"></script>
<script type="text/javascript" src="/Mobile/js/nsw_mobile.js"></script>

</html>
