@charset "utf-8";
html{color:#000;background:#FFF; }
body { color:#666;font:12px/1.231 arial,helvetica,clean,sans-serif,"宋体";} /*网站字体颜色*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;} 
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
input,select{vertical-align:middle;}
i,em{ font-style:normal;}
select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%; border-collapse:collapse;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
/*title*/
h1 { font-size:32px;}
h2 { font-size:26px;}
h3 { font-size:20px;}
h4 { font-size:14px;}
h5 { font-size:12px;}
h6 { font-size:10px;}

.mt10{ margin-top:10px;}

a { color:#666; text-decoration:none; }  /*for ie f6n.net*/
a:focus{outline:0;} /*for ff f6n.net*/
a:hover { text-decoration:underline; text-decoration:none; }
.vam { vertical-align:middle;}
.clear{ clear:both; height:0; line-height:0; font-size:0;}
.clearfix:after{ content:""; clear:both; height:0; visibility:hidden; display:block;}
.clearfix{*zoom:1}
p{ word-spacing:-1.5px;}
.tr { text-align:right;}
.tl { text-align:left;}
.center { text-align:center;}
.fl { float:left;}
.fr { float:right;}
.pa{ position:absolute;}
.pr{ position:relative}
/* -- 购物车外部框架 -- */
.cart_header , .cart_content , .cart_footer { width:760px; margin:0 auto;}



/* -- 页面整体布局 -- */
.header , .content , .footer { width:1200px; margin:0 auto;  }
.left { width:201px; float:left; overflow:hidden;}
.left2 { width:670px; float:left; overflow:hidden;}
.left3 { width:754px; float:left; overflow:hidden; color:#666;}
.lefttop { background:url(Img/left_top_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden; margin-top:10px;}
.left2top { background:url(Img/left2_top_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden;}
.leftbot { background:url(Img/left_bot_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden;  margin-bottom:10px;}
.left2bot { background:url(Img/right_bot2_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden; margin-bottom:10px; }

.right { width:735px; float: left;  display:inline; margin-left:24px; overflow:hidden;}
.right2 { width:275px;  float:right; overflow:hidden;}
.right3 { width:201px; float:right; overflow:hidden; color:#666;}
.righttop { background:url(Img/right_top_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden;}
.right2top { background:url(Img/right2_top_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden;}
.rightbot { background:url(Img/right_bot_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden; margin-bottom:10px;}
.right2bot { background:url(Img/left_bot2_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden; margin-bottom:10px;}

.right_main { width:735px; padding-bottom:15px; overflow:hidden; }
.right2_main { width:273px; padding-bottom:15px; overflow:hidden;}
.left2_main { width:668px;  padding-bottom:15px; overflow:hidden;}

.h_nav li a:-webkit-any-link{ display:block;}


/*头部开始*/
.topWrap{height: 240px; background: url(Img/Common/h_bg.jpg) repeat-x center top; overflow: hidden; font-family:"Microsoft Yahei";}
.topWrap .h_hr .fl a{ margin-left: 20px; background: #0771BD;padding: 2px 5px;border-radius: 5px;color: #fff;font-style: normal;}
.topWrap .h_hr{ position: relative; height: 39px; line-height: 39px; font-size: 14px; color: #5f5f5f;}
.topWrap .h_hr span a{ display: inline-block; padding: 0 20px; color: #5f5f5f;}
.topWrap .h_con{ position: relative; height: 101px; padding-top: 40px;}
.topWrap .logo{ float: left; width: 244px; height: 60px; }
.topWrap .logo a img{ display: block; width: 100%; height: auto;}
.topWrap .h-bt h1{ margin-left: 22px; padding: 5px 0 5px 22px; line-height: 1; font-size: 16px; color: #040a1a; border-left: 1px solid #cfcfcf; font-weight: normal;}
.topWrap .h-bt h1 span{ display: block; font-size: 18px; margin-bottom: 10px; color: #333; }
.topWrap .h-bt h1 b{ font-size: 20px; color: #0771bd;}
.topWrap .h_tel{ width: 290px; margin-top: -10px; padding-left: 60px; background: url(Img/Common/tel_ico.png) no-repeat left 16px;}
.topWrap .h_tel p{ font-size: 16px; margin-top: 14px; color: #666; line-height: 1;}
.topWrap .h_tel b{ display: block; padding-top: 10px; font-size: 26px; color: #0771bd;}


.nav{ height: 60px; line-height: 60px;}
.nav ul li{ position: relative; float: left; line-height: 60px; font-size: 16px; color: #fff; }
.nav ul li.fisrt a{ border-left: 0;}
.nav ul li.last a{ border-right: 0;}
.nav ul li a{position: relative; z-index: 2; display: inline-block; transition: color .5s .1s; border-right: 1px solid #4c99cf; border-left:1px solid #004576; height: 60px; font-weight: bold; font-weight: normal; padding: 0 30px; color: #fff; }
.nav ul li a:hover{
    color: #fff;
}
.nav ul li.cur a{
	background:#87bb46;
}
.nav ul li::before {
	content:"";
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
    height:100%;
    display: block;
	background:#87bb46;
	/* 重点 */
 	transition:transform .5s;
	/* 重点 */
  	transform:scale3d(0,1,1);
	/* 重点 */
 	transform-origin:100% 50%;
	/* 重点 */
}
.nav ul li:hover::before {
	transform:scale3d(1,1,1);
	/* 重点 */
	  transform-origin:0 50%;
	/* 重点 */
	  transition-timing-function:ease-in;
}

/*底部开始*/
.ftbg{margin-top:50px; height: 320px;padding-top: 56px; background: url(Img/Common/blue-bg.jpg) repeat center top;}
.footer .footer-logo{float: left;padding-top: 60px; width: 284px; height: 176px;border-right: 1px solid #e7e7e7;}
.footer .footer-logo h1{margin-top: -20px;}
.footer .footer-logo img{width:239px; height:161px;}
.footer  .footer-box{float: left;margin-left: 5px;}
.footer  .footer-box .f-nav{padding:20px 0 20px 20px; color:#e7e7e7;border-bottom: 1px solid #e7e7e7;;}
.footer  .footer-box .f-nav a{line-height: 22px;font-size: 15px;padding:0 12px; color:#fff;}
.footer  .address p a{line-height: 22px;font-size: 15px;padding:0 12px; color:#fff;}|
.footer  .footer-box .f-nav a:hover{ text-decoration: underline;}
.footer  .footer-box .contact{color:#fff; margin-top: 20px;margin-left: 20px;; line-height: 22px;font-size: 15px;}
.footer  .footer-box .contact  .qrcode{float: right;text-align: center;}
.footer  .footer-box .contact .address{line-height: 22px;font-size: 15px; }