<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content="telephone=no" name="format-detection" />
		<title>百捷探索</title>
		<link href="Skins/Default/swiper.min.css" rel="stylesheet" type="text/css" />
		<link href="Skins/Default/Index.css" rel="stylesheet" type="text/css" />
		<link href="Skins/Default/resetcommon.css" rel="stylesheet" type="text/css" />
		<link href="Skins/Default/animate.min.css" rel="stylesheet" type="text/css" />
		
	</head>

	<body>
		<div class="topWrap">
			<div class="header clearfix">
				<div class="h_hr">
					<p class="fl">欢迎光临百捷探索官方网站！</p>
					<span class="fr"><a href="#">短视频集锦</a>|<a href="#">照片直播</a>|<a href="#">手机官网</a>|<a href="#">网站地图</a></span>
				</div>
				<div class="h_con">
					<div class="logo wow zoomIn">
						<a href="#"><img src="Skins/Default/Img/Common/logo.png"/></a>
					</div>
					<div class="h-bt fl">
						<h1><span>户外团队建设-拓展培训-营地探索教育专业运营机构</span>专注拓展训练、户外团队建设、基地运营，提供团队建设培训全套解决方案</h1>
					</div>
					<div class="h_tel fr">
						<p>户外团建-拓展训练-定制咨询热线：<b>0755-2388-4569</b></p>
						<p>联系大客户服务教练：<b>133-5296-0157<i>(微信同号) </i></b></p>
					</div>
				</div>			                                            
				<div class="nav">             
					<ul>                          
						<li class="cur"><a href="#">百捷探索首页</a></li>
						<li><a href="#">团建方案</a></li>
						<li><a href="#">拓展基地</a></li>
						<li><a href="#">拓展项目</a></li>
						<li><a href="#">团建活动</a></li>
						<li><a href="#">拓展训练</a></li>
						<li><a href="#">登山徒步</a></li>
						<li><a href="#">戈壁徒步</a></li>
						<li><a href="#">基地年会+团建</a></li>
						<li><a href="#">联系我们</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="banner">
			<a href="#"></a>
		</div>

		<div class="sou_bg">	
			<div class="content clearfix">		                     
				<p class="fl"><b>关键词：</b><a href="#">企业拓展年会</a><a href="#">企业拓展训练</a><a href="#">团建活动</a><a href="#">拓展训练</a><a href="#">休闲拓展</a><a href="#">海岛生存</a><a href="#">年会策划</a><a href="#">亲子活动</a><a href="#">趣味运动会</a></p>
				<div class="s_inp01 fr"><input type="text" class="inp01" placeholder="请输入您要搜索的关键词" /><input type="button" class="inp02" /></div>
			</div>
		</div>

		<div class="obstacle">
			<div class="modular-header wow zoomIn">
				<h3 class="modular-subTitle">Pain points</h3>
				<h2 class="modular-title"><a href="#" class="modular-title-link">团队发展的<span>五种机能障碍</span></a></h2>
			</div>
			<div class="content">
				<div class="obstacle-list">
					<ul>
						<li><img src="Skins/Default/Img/Index/za_ico.png" >缺乏信任</li>
						<li><img src="Skins/Default/Img/Index/za_ico.png" >惧怕冲突</li>
						<li><img src="Skins/Default/Img/Index/za_ico.png" >欠缺投入</li>
						<li><img src="Skins/Default/Img/Index/za_ico.png" >逃避责任</li>
						<li class="no"><img src="Skins/Default/Img/Index/za_ico.png" >无视结果</li>
					</ul>
				</div>
				<div class="obstacle-min">
					<h3>我们的团队在发展过程中是否遇到一下障碍</h3>
					<ul>
						<li class="li1"><span><img src="Skins/Default/Img/Index/za_img1.png" ></span><p>企业的价值观、使命、愿景等文化的落地？</p><i><a href="#">立即获取拓展方案</a></i></li>
						<li class="li2"><span><img src="Skins/Default/Img/Index/za_img2.png" ></span><p>如何提升员工的归宿感与幸福力？</p><i><a href="#">立即获取拓展方案</a></i></li>
						<li class="li3"><span><img src="Skins/Default/Img/Index/za_img3.png" ></span><p>团队如何聚合人心士气，提升目标感与执行力？</p><i><a href="#">立即获取拓展方案</a></i></li>
						<li class="li4"><span><img src="Skins/Default/Img/Index/za_img4.png" ></span><p>团队如何养成主动沟通的意识与习惯？</p><i><a href="#">立即获取拓展方案</a></i></li>
						<li class="no li5"><span><img src="Skins/Default/Img/Index/za_img5.png" ></span><p>95后员工的领导与管理、柔性引导、无边界组织的试错？</p><i><a href="#">立即获取拓展方案</a></i></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="programme">
			<div class="modular-header wow zoomIn">
				<h3 class="modular-subTitle">progression stage</h3>
				<h2 class="modular-title"><a href="#" class="modular-title-link">组织发展的<span>四个阶段</span>及对应的解决方案</a></h2>
			</div>
			<div class="content">
				<div class="programme-list wow rotateIn">
					<ul>
						<li class="li1"><b>规范期</b></li>
						<li class="li2"><b>风暴期</b></li>
						<li class="li3"><b>绩效期</b></li>
						<li class="li4"><b>形成期</b></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="form pic1">
			<div class="content form-content">
				<div class="form-list">
					<div class="form-item">
						<div class="form-bg"></div>
						<div class="form-item-box">
							<label for="#name" class="form-text">姓名：</label><input type="text" class="form-input" id="name">
						</div>	
					</div>
					<div class="form-item">
						<div class="form-bg"></div>
						<div class="form-item-box">
							<label for="#tel" class="form-text">手机：</label><input type="text" class="form-input" id="tel">
						</div>
					</div>
					<div class="form-item">
						<div class="form-bg"></div>
						<div class="form-item-box">
							<label for="#company" class="form-text">公司：</label><input type="text" class="form-input" id="company">
						</div>
					</div>
				</div>
				<div class="form-btn">
					<div class="form-btn-bg"></div>
					<div class="form-btn-box">
						<i></i>	
						<span>立即免费定制团建拓展方案</span>	
					</div>
				</div>
			</div>
		</div>	

		<div class="administration">
			<div class="modular-header wow zoomIn">
				<h3 class="modular-subTitle">Pain points</h3>
				<h2 class="modular-title"><a href="#" class="modular-title-link">百捷探索-赋能团队建设<span>六项管理</span>运用与落地</a></h2>
				<p class="modular-des">打造铁军团队</p>
			</div>
			<div class="content">
				<div class="administration-min">
					<ul>
						<li><a href="#"><img src="Skins/Default/Img/Index/ld_img1.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/ld_img2.jpg" ></a></li>
						<li class="no"><a href="#"><img src="Skins/Default/Img/Index/ld_img3.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/ld_img4.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/ld_img5.jpg" ></a></li>
						<li class="no"><a href="#"><img src="Skins/Default/Img/Index/ld_img6.jpg" ></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="case">
			<div class="modular-header wow zoomIn">
				<h3 class="modular-subTitle">Group building plan</h3>
				<h2 class="modular-title"><a href="#" class="modular-title-link">百捷探索·<span>企业拓展团建方案</span></a></h2>
				<p class="modular-des">以客户需求为出发点，为客户量身专属定制 </p>
			</div>
			<div class="content">
				<ul class="case-ul">
					<li class="cur"><a href="#">开工收心拓展方案</a></li>
					<li><a href="#">经典拓展训练方案</a></li>
					<li><a href="#">新员工入职拓展培训方案</a></li>
					<li><a href="#">军事拓展训练方案</a></li>
					<li><a href="#">新老员工融合拓展方案</a></li>
					<li><a href="#">户外领导力建设方案</a></li>
					<li><a href="#">开工收心拓展方案</a></li>
					<li><a href="#">经典拓展训练方案</a></li>
					<li><a href="#">新员工入职拓展培训方案</a></li>
					<li><a href="#">军事拓展训练方案</a></li>
					<li><a href="#">新老员工融合拓展方案</a></li>
					<li><a href="#">户外领导力建设方案</a></li>
					<li><a href="#">开工收心拓展方案</a></li>
					<li><a href="#">经典拓展训练方案</a></li>
					<li><a href="#">新员工入职拓展培训方案</a></li>
					<li><a href="#">军事拓展训练方案</a></li>
					<li><a href="#">新老员工融合拓展方案</a></li>
					<li><a href="#">户外领导力建设方案</a></li>
					<li><a href="#">开工收心拓展方案</a></li>
					<li><a href="#">经典拓展训练方案</a></li>
					<li><a href="#">更多方案+</a></li>
				</ul>
			</div>
			<div class="case-min">
				<div class="case-cont">
					<div class="case-img"><img src="Skins/Default/Img/Index/case_img.jpg" ><p>户外领导力建设方案</p></div>
					<div class="btn1"><img src="Skins/Default/Img/Index/btn_1.png" ></div>
					<div class="btn2"><img src="Skins/Default/Img/Index/btn_2.png" ></div>
				</div>
			</div>
			<div class="case-more"><a href="#" class="fl">更多拓展解决方案 >></a><a href="#" class="fr">在线咨询 >></a></div>
		</div>

		<div class="form pic2">
			<div class="content form-content">
				<div class="form-list">
					<div class="form-item">
						<div class="form-bg"></div>
						<div class="form-item-box">
							<label for="#name" class="form-text">姓名：</label><input type="text" class="form-input" id="name">
						</div>	
					</div>
					<div class="form-item">
						<div class="form-bg"></div>
						<div class="form-item-box">
							<label for="#tel" class="form-text">手机：</label><input type="text" class="form-input" id="tel">
						</div>
					</div>
					<div class="form-item">
						<div class="form-bg"></div>
						<div class="form-item-box">
							<label for="#company" class="form-text">公司：</label><input type="text" class="form-input" id="company">
						</div>
					</div>
				</div>
				<div class="form-btn">
					<div class="form-btn-bg"></div>
					<div class="form-btn-box">
						<i></i>	
						<span>立即免费定制团建拓展方案</span>	
					</div>
				</div>
			</div>
		</div>	

		<div class="xm">
			<div class="modular-header wow zoomIn">
				<h3 class="modular-subTitle">Expansion project</h3>
				<h2 class="modular-title"><a href="#" class="modular-title-link">百捷探索 · 升级迭代<span>团建拓展培训项目</span></a></h2>
				<p class="modular-des">9大系列近1000个活动类目 </p>
			</div>
			<div class="content">
				<div class="xm-min">
					<ul class="xm-ul">
						<li class="cur"><a href="#">红色党建系列</a></li>
						<li><a href="#">科技文化系列</a></li>
						<li><a href="#">体育竞技系列</a></li>
						<li><a href="#">营地经典系列</a></li>
						<li><a href="#">工匠文化系列</a></li>
						<li><a href="#">户外探索系列</a></li>
						<li><a href="#">戈壁沙漠系列</a></li>
						<li><a href="#">亲子研学系列</a></li>
						<li class="no"><a href="#">创意年会系列</a></li>
					</ul>

					<div class="xm-list">
						<div class="xm-btn1"><img src="Skins/Default/Img/Index/btn_1.png" ></div>
						<div class="xm-btn2"><img src="Skins/Default/Img/Index/btn_2.png" ></div>
						<ul>
							<li><a href="#"><img src="Skins/Default/Img/Index/xm_img1.jpg" ></a></li>
							<li><a href="#"><img src="Skins/Default/Img/Index/xm_img2.jpg" ></a></li>
							<li class="no"><a href="#"><img src="Skins/Default/Img/Index/xm_img3.jpg" ></a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>

		<div class="ys">
			<div class="modular-header wow zoomIn">
				<h3 class="modular-subTitle">Business advantage</h3>
				<h2 class="modular-title"><a href="#" class="modular-title-link">百捷探索     聚焦核心优势为企业赋能，为生命赋能</a></h2>
			</div>
			<div class="content">
				<div class="ys-min">
					<ul>
						<li class="fl wow bounceInLeft"><span><img src="Skins/Default/Img/Index/ys_ico1.png" ></span> <p>用11年管理咨询培训的思维与服务标准执行户外团建拓展培训的方案，服务升维，更懂企业管理、更懂HRBP。</p></li>
						<li class="fr wow bounceInRight"><p>拥有全国行业全面、全方位的培训场景100+以上，包括营地、滨海、沙滩、丛林、荒野、草原、热带雨林、戈壁、沙漠、雪山、高空、江河、溯溪、海岛等</p><span><img src="Skins/Default/Img/Index/ys_ico2.png" ></span></li>
						<li class="fl wow bounceInLeft cos"><span><img src="Skins/Default/Img/Index/ys_ico3.png" ></span><p>制定11项行业标准服务流程，根据客户和用户培训需求定制方案。</p></li>
						<li class="fr wow bounceInRight cos"><span><img src="Skins/Default/Img/Index/ys_ico4.png" ></span><p>拥有执行教练／导师／讲师团队，平均从业经验10年+以上，提供人才测评数据10000人以上。</p></li>
						<li class="fl wow bounceInLeft cos"><span><img src="Skins/Default/Img/Index/ys_ico5.png" ></span><p>制定项目管理制度，每一个项目根据客户企业文化落地执行，建立文化之根，塑造文化之魂。</p></li>
						<li class="fr wow bounceInRight"><span><img src="Skins/Default/Img/Index/ys_ico6.png" ></span><p>拥有服务13家世界500强大客户服务流程和系统，包括：华为、腾讯、恒大、阿里、万科、碧桂园、京东等。</p></li>
						<li class="fl wow bounceInLeft"><span><img src="Skins/Default/Img/Index/ys_ico7.png" ></span><p>根据项目需求，前期安排需求调研、中期项目跟进、结营项目复盘，落地于执行，团队形成目标驱动，持续服务时间12个月。</p></li>
						<li class="fr wow bounceInRight"><span><img src="Skins/Default/Img/Index/ys_ico8.png" ></span><p>产品研发中心每月推出2个最新团建拓展培训方案，累计迭代团队建设拓展方案和执行手册超过1000+个。</p></li>
						<li class="fl wow bounceInLeft"><span><img src="Skins/Default/Img/Index/ys_ico9.png" ></span><p>拥有全国行业10000+个国防教育、拓展营地、户外线路、民宿别墅、星际宾馆、高端酒店、高档会所、旅游景区一手供应链资源。</p></li>
						<li class="fr wow bounceInRight cos"><span><img src="Skins/Default/Img/Index/ys_ico10.png" ></span><p>拥有集会议策划、会议执行、舞台桁架搭建等配套团队和一手设备3套。</p></li>
					</ul>
					<div class="ys-logo wow rotateIn"><img src="Skins/Default/Img/Index/ys_logo.png" ></div>
				</div>
			</div>
		</div>

		<div class="form pic3">
			<div class="content form-content">
				<div class="form-list">
					<div class="form-item">
						<div class="form-bg"></div>
						<div class="form-item-box">
							<label for="#name" class="form-text">姓名：</label><input type="text" class="form-input" id="name">
						</div>	
					</div>
					<div class="form-item">
						<div class="form-bg"></div>
						<div class="form-item-box">
							<label for="#tel" class="form-text">手机：</label><input type="text" class="form-input" id="tel">
						</div>
					</div>
					<div class="form-item">
						<div class="form-bg"></div>
						<div class="form-item-box">
							<label for="#company" class="form-text">公司：</label><input type="text" class="form-input" id="company">
						</div>
					</div>
				</div>
				<div class="form-btn">
					<div class="form-btn-bg"></div>
					<div class="form-btn-box">
						<i></i>	
						<span>立即免费定制团建拓展方案</span>	
					</div>
				</div>
			</div>
		</div>	

		<div class="yd">
			<div class="modular-header wow zoomIn">
				<h3 class="modular-subTitle">Expand camp</h3>
				<h2 class="modular-title"><a href="#" class="modular-title-link">百捷探索 · <span>拓展营地</span></a></h2>
			</div>
			<div class="content">
				<div class="yd-min">
					<ul class="yd-ul">
						<li class="cur"><a href="#">自主运营深圳基地</a></li>
						<li><a href="#">广州拓展基地</a></li>
						<li><a href="#">佛山拓展基地</a></li>
						<li><a href="#">东莞拓展基地</a></li>
						<li><a href="#">惠州拓展基地</a></li>
						<li><a href="#">珠海拓展基地</a></li>
						<li><a href="#">中山拓展基地</a></li>
						<li><a href="#">韶关拓展基地</a></li>
					</ul>

					<div class="yd-list">
						<ul class="clearfix">
							<li><a href="#"><div class="yd-box"><img src="Skins/Default/Img/Index/yd_img1.jpg" ></div> <p><span>百捷探索-求水山拓展营地</span><i><img src="Skins/Default/Img/Index/yd_ico.png" >151124</i></p></a></li>
							<li><a href="#"><div class="yd-box"><img src="Skins/Default/Img/Index/yd_img2.jpg" ></div><p><span>百捷探索-求水山拓展营地</span><i><img src="Skins/Default/Img/Index/yd_ico.png" >151124</i></p></a></li>
							<li class="no"><a href="#"><div class="yd-box"><img src="Skins/Default/Img/Index/yd_img3.jpg" ></div><p><span>百捷探索-求水山拓展营地</span><i><img src="Skins/Default/Img/Index/yd_ico.png" >151124</i></p></a></li>
						</ul>
					</div>
					<div class="case-more"><a href="#">查看更多拓展基地 >></a></div>
				</div>
			</div>
		</div>

		<div class="td">
			<div class="modular-header wow zoomIn">
				<h3 class="modular-subTitle">Trainer team</h3>
				<h2 class="modular-title"><a href="#" class="modular-title-link">百捷探索 · <span>业界优选培训师团队</span></a></h2>
			</div>
			<div class="content">
				<div class="td-min clearfix">
					<dl class="fl">
						<dt><img src="Skins/Default/Img/Index/td_img.jpg" ></dt>
						<dd>
							<h4>李昌林</h4>
							<p>从事野外拓展训练工作10年，辅导培训客户800余家</p>
							<h5>专项领域：</h5>
							<p>深圳登协2、3、4届教练委员会委员；<br> 深圳登协培训中心第3、4届副主任；<br> 大鹏山地户外协会理事、副秘书长；</p>
							<a href="#" class="td-more">MORE+</a>
						</dd>
					</dl>

					<div class="td-list fr">
						<ul>
							<li><img src="Skins/Default/Img/Index/td_img1.jpg" ></li>
							<li><img src="Skins/Default/Img/Index/td_img2.jpg" ></li>
							<li><img src="Skins/Default/Img/Index/td_img3.jpg" ></li>
							<li><img src="Skins/Default/Img/Index/td_img4.jpg" ></li>
						</ul>

						<ol class="quan">
							<li class="cur"></li>
							<li></li>
							<li></li>
						</ol>
					</div>

				</div>
			</div>
		</div>

		<div class="kh">
			<div class="content">
				<div class="modular-header wow zoomIn">
					<h3 class="modular-subTitle">our  Partner</h3>
					<h2 class="modular-title"><a href="#" class="modular-title-link">百捷探索 · <span>大客户展播中心</span></a></h2>
					<p class="modular-des">世界500强企业服务经验</p>
				</div>
				<div class="kh-min">
					<ul>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/kh_img.jpg" ></a></li>
					</ul>
				</div>
			</div>
		</div>


		<!-- S 拓展案例展示 -->
		<div class="modular modular-case">
			<div class="content">
				<div class="modular-header wow zoomIn">
					<h3 class="modular-subTitle">Trainer team</h3>
					<h2 class="modular-title"><a href="#" class="modular-title-link">百捷探索<i></i>拓展<span>案例展示</span></a></h2>
					<p class="modular-des">发布现场精彩瞬间</p>
				</div>
				<!-- Swiper -->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="swiper-pic-box">
								<img src="Skins/Default/Img/Index/zs_img.jpg" alt="" class="swiper-pic">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper-pic-box">
								<img src="Skins/Default/Img/Index/zs_img.jpg" alt="" class="swiper-pic">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper-pic-box">
								<img src="Skins/Default/Img/Index/zs_img.jpg" alt="" class="swiper-pic">
							</div>
						</div>

					</div>
					<span class="swiper-button-prev"></span>
					<span class="swiper-button-next"></span>
				</div>
				<div class="swiper-content">
					<p class="swiper-des">2019年4月22日网心科技四周年庆团建活动</p>
					<div class="modular-btn"><a href="#">查看更多拓展案例 >></a></div>
				</div>
			</div>
		</div>		
		<!-- E 拓展案例展示 -->

		<!-- S 项目合作流程 -->
		<div class="modular modular-cooperat">
			<div class="content">
				<div class="modular-header wow zoomIn">
					<h3 class="modular-subTitle">Cooperation Process</h3>
					<h2 class="modular-title"><a href="#" class="modular-title-link">百捷探索<i></i>拓展<span>项目合作流程</span></a></h2>
					<p class="modular-des">工作累了想放松？团队缺乏战斗力？找百捷探索就对了！</p>
				</div>
				<ul class="cooperat-list">
					<li class="cooperat-item">
						<img src="Skins/Default/Img/Index/lc_ico1.png" alt="" class="cooperat-pic">
						<h4 class="cooperat-des">客户咨询</h4>
						<i class="cooperat-row"></i>		
					</li>
					<li class="cooperat-item">
						<img src="Skins/Default/Img/Index/lc_ico2.png" alt="" class="cooperat-pic">
						<h4 class="cooperat-des">需求沟通</h4>
						<i class="cooperat-row"></i>		
					</li>
					<li class="cooperat-item">
						<img src="Skins/Default/Img/Index/lc_ico3.png" alt="" class="cooperat-pic">
						<h4 class="cooperat-des">方案策划</h4>
						<i class="cooperat-row"></i>		
					</li>
					<li class="cooperat-item">
						<img src="Skins/Default/Img/Index/lc_ico4.png" alt="" class="cooperat-pic">
						<h4 class="cooperat-des">确认细节</h4>
						<i class="cooperat-row"></i>		
					</li>
					<li class="cooperat-item">
						<img src="Skins/Default/Img/Index/lc_ico5.png" alt="" class="cooperat-pic">
						<h4 class="cooperat-des">签订协议</h4>
						<i class="cooperat-row"></i>		
					</li>
					<li class="cooperat-item">
						<img src="Skins/Default/Img/Index/lc_ico6.png" alt="" class="cooperat-pic">
						<h4 class="cooperat-des">项目准备</h4>
						<i class="cooperat-row"></i>		
					</li>
					<li class="cooperat-item">
						<img src="Skins/Default/Img/Index/lc_ico7.png" alt="" class="cooperat-pic">
						<h4 class="cooperat-des">项目交付</h4>
						<i class="cooperat-row"></i>		
					</li>
					<li class="cooperat-item">
						<img src="Skins/Default/Img/Index/lc_ico8.png" alt="" class="cooperat-pic">
						<h4 class="cooperat-des">反馈资料</h4>
						<i class="cooperat-row"></i>		
					</li>
					<li class="cooperat-item">
						<img src="Skins/Default/Img/Index/lc_ico9.png" alt="" class="cooperat-pic">
						<h4 class="cooperat-des">回访复盘</h4>
						<i class="cooperat-row"></i>		
					</li>
					<li class="cooperat-item">
						<img src="Skins/Default/Img/Index/lc_ico10.png" alt="" class="cooperat-pic">
						<h4 class="cooperat-des">会员服务</h4>
						<i class="cooperat-row"></i>		
					</li>
					<li class="cooperat-item">
						<img src="Skins/Default/Img/Index/lc_ico11.png" alt="" class="cooperat-pic">
						<h4 class="cooperat-des">转介复购</h4>
						<i class="cooperat-row"></i>		
					</li>

				</ul>
				<div class="cooperat-line"></div>
			</div>
		</div>
		<!-- E 项目合作流程 -->

		<!-- S 方案表单 -->
		<div class="form pic4">
			<div class="content form-content">
				<div class="form-list">
					<div class="form-item">
						<div class="form-bg"></div>
						<div class="form-item-box">
							<label for="#name" class="form-text">姓名：</label><input type="text" class="form-input" id="name">
						</div>	
					</div>
					<div class="form-item">
						<div class="form-bg"></div>
						<div class="form-item-box">
							<label for="#tel" class="form-text">手机：</label><input type="text" class="form-input" id="tel">
						</div>
					</div>
					<div class="form-item">
						<div class="form-bg"></div>
						<div class="form-item-box">
							<label for="#company" class="form-text">公司：</label><input type="text" class="form-input" id="company">
						</div>
					</div>
				</div>
				<div class="form-btn">
					<div class="form-btn-bg"></div>
					<div class="form-btn-box">
						<i></i>	
						<span>立即免费定制团建拓展方案</span>	
					</div>
				</div>
			</div>
		</div>	
		<!-- E 方案表单 -->
		
		<!-- S 拓展之报 -->
		<div class="news modular">
			<div class="content">
				<div class="modular-header wow zoomIn">
					<h3 class="modular-subTitle">NEWS CENTER</h3>
					<h2 class="modular-title"><a href="#" class="modular-title-link">百捷探索<i></i><span>拓展之报</span></a></h2>
					<p class="modular-des">了解企业拓展最新动态</p>
				</div>
				<div class="news-content clearfix">
					<div class="news-hd wow bounceInLeft">
						<div class="news-img" class="news-banner"><a href="#"><img src="Skins/Default/Img/Index/news_img.jpg" alt="" ></a></div>
						<div class="news-banner-box">
							<h3 class="news-banner-title">公司员工进行户外团建活动的好处</h3>
							<p class="news-banner-des">员工之间的感情，其实有时候很微妙。对于领导的口头号召的所谓要团结信任，其实一般情况下很难落实到位。尤其是这个快节奏的上班生活中，大家都清楚自己来到这个公司的目的是什么.......<a href="#">【详情】</a></p>
						</div>
					</div>
					<div class="news-bd wow bounceInRight">
						<div class="news-tab">
							<ul class="news-tab-list">
								<li class="news-tab-item active">企业快报</li>
								<li class="news-tab-item">户外知识</li>
							</ul>
							<a href="#" class="new-tab-link">MORE+</a>
						</div>
						<div class="news-tab-content">
							<ul class="news-tab-content-list">
								<li class="news-tab-content-item">
									<div class="hd">
										<h4 class="news-day">22</h4>
										<p class="news-date">2020-06</p>
									</div>
									<div class="bd">
										<h3 class="news-tab-content-title">有什么好玩团建活动方案和专业的团建公司推荐？</h3>
										<p class="news-tab-content-des">我所在城市深圳，以年轻人为主的互联网企业、科技企业、金融企业等新经济行业为主，这个人群更喜欢形式新颖......<a href="#">【详情】</a></p>
									</div>
								</li>
								<li class="news-tab-content-item">
									<div class="hd">
										<h4 class="news-day">22</h4>
										<p class="news-date">2020-06</p>
									</div>
									<div class="bd">
										<h3 class="news-tab-content-title">有什么好玩团建活动方案和专业的团建公司推荐？</h3>
										<p class="news-tab-content-des">我所在城市深圳，以年轻人为主的互联网企业、科技企业、金融企业等新经济行业为主，这个人群更喜欢形式新颖......<a href="#">【详情】</a></p>
									</div>
								</li>
								<li class="news-tab-content-item">
									<div class="hd">
										<h4 class="news-day">22</h4>
										<p class="news-date">2020-06</p>
									</div>
									<div class="bd">
										<h3 class="news-tab-content-title">有什么好玩团建活动方案和专业的团建公司推荐？</h3>
										<p class="news-tab-content-des">我所在城市深圳，以年轻人为主的互联网企业、科技企业、金融企业等新经济行业为主，这个人群更喜欢形式新颖......<a href="#">【详情】</a></p>
									</div>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="news-info wow bounceInUp clearfix">
					<div class="news-info-hd">
						<h4 class="news-info-title">学员感悟</h4>
						<a href="#" class="news-info-link">MORE+</a>
					</div>
					<div class="news-info-bd">
						<ul class="news-info-list">
							<li class="news-info-item">
								<h5 class="news-info-title">突破自我才能赢得成功-拓展心得</h5>
								<p class="news-info-des">风景优美的金水湾是我们此行拓展的训练基地，来不及欣赏景色，严厉的两位……<a href="#">【详细】</a></p>
							</li>
							<li class="news-info-item">
								<h5 class="news-info-title">突破自我才能赢得成功-拓展心得</h5>
								<p class="news-info-des">风景优美的金水湾是我们此行拓展的训练基地，来不及欣赏景色，严厉的两位……<a href="#">【详细】</a></p>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<!-- E 拓展之报 -->


		<div class="clear"></div> 
		<!-- S footer -->
		<div class="footerwp">
			<div class="content">
				<ul class="footer-list clearfix">
					<li class="footer-item">
						<h3 class="footer-item-title">拓展方案</h3>
						<ul class="footer-content-list">
							<li class="footer-item-link"><a href="#">开工收心拓展方案</a></li>
							<li class="footer-item-link"><a href="#">经典拓展训练方案</a></li>
							<li class="footer-item-link"><a href="#">军事拓展训练方案</a></li>
							<li class="footer-item-link"><a href="#">户外领导力建设方案</a></li>
							<li class="footer-item-link"><a href="#">全员执行力锻造方案</a></li>
							<li class="footer-item-link"><a href="#">职工趣味运动会方案</a></li>
							<li class="footer-item-link"><a href="#">创意年会方案</a></li>
							<li class="footer-item-link"><a href="#">年会+团建拓展方案</a></li>
						</ul>
					</li>
					<li class="footer-item">
						<h3 class="footer-item-title">培训项目</h3>
						<ul class="footer-content-list">
							<li class="footer-item-link"><a href="#">红色党建系列</a></li>
							<li class="footer-item-link"><a href="#">科技文化系列</a></li>
							<li class="footer-item-link"><a href="#">体育竞技系列</a></li>
							<li class="footer-item-link"><a href="#">营地经典系列</a></li>
							<li class="footer-item-link"><a href="#">工匠文化系列</a></li>
							<li class="footer-item-link"><a href="#">户外探索系列</a></li>
							<li class="footer-item-link"><a href="#">戈壁沙漠系列</a></li>
							<li class="footer-item-link"><a href="#">亲子研学系列</a></li>
							<li class="footer-item-link"><a href="#">创意年会系列</a></li>
						</ul>
					</li>
					<li class="footer-item">
						<h3 class="footer-item-title">培训资讯</h3>
						<ul class="footer-content-list">
							<li class="footer-item-link"><a href="#">企业快报</a></li>
							<li class="footer-item-link"><a href="#">户外知识</a></li>
							<li class="footer-item-link"><a href="#">学员感悟</a></li>
						</ul>
					</li>	
					<li class="footer-item">
						<h3 class="footer-item-title">推荐课程</h3>
						<ul class="footer-content-list">
							<li class="footer-item-link"><a href="#">魔鬼特训</a></li>
							<li class="footer-item-link"><a href="#">列国争霸</a></li>
							<li class="footer-item-link"><a href="#">趣味运动会</a></li>
							<li class="footer-item-link"><a href="#">企业内训</a></li>
							<li class="footer-item-link"><a href="#">年会策划</a></li>
							<li class="footer-item-link"><a href="#">企业沙盘</a></li>
							<li class="footer-item-link"><a href="#">荒岛求生</a></li>
						</ul>
					</li>
					<li class="footer-item">
						<h3 class="footer-item-title">拓展游戏</h3>
						<ul class="footer-content-list">
							<li class="footer-item-link"><a href="#">破冰游戏</a></li>
							<li class="footer-item-link"><a href="#">沟通游戏</a></li>
							<li class="footer-item-link"><a href="#">团队游戏</a></li>
							<li class="footer-item-link"><a href="#">晨会游戏</a></li>
							<li class="footer-item-link"><a href="#">激励游戏</a></li>
							<li class="footer-item-link"><a href="#">创新游戏</a></li>
							<li class="footer-item-link"><a href="#">聚会游戏</a></li>
						</ul>
					</li>
					<li class="footer-item">
						<h3 class="footer-item-title">拓展基地</h3>
						<ul class="footer-content-list">
							<li class="footer-item-link"><a href="#">自主运营深圳基地</a></li>
							<li class="footer-item-link"><a href="#">广州拓展训练基地</a></li>
							<li class="footer-item-link"><a href="#">佛山拓展训练基地</a></li>
							<li class="footer-item-link"><a href="#">东莞拓展训练基地</a></li>
							<li class="footer-item-link"><a href="#">惠州拓展训练基地</a></li>
							<li class="footer-item-link"><a href="#">珠海拓展训练基地</a></li>
							<li class="footer-item-link"><a href="#">中山拓展训练基地</a></li>
							<li class="footer-item-link"><a href="#">珠海拓展训练基地</a></li>
							<li class="footer-item-link"><a href="#">韶关拓展训练基地</a></li>
						</ul>
					</li>
					<li class="footer-item">
						<h3 class="footer-item-title">百捷探索</h3>
						<ul class="footer-content-list">
							<li class="footer-item-link"><a href="#">拓展案例</a></li>
							<li class="footer-item-link"><a href="#">拓展培训师</a></li>
							<li class="footer-item-link"><a href="#">合作客户</a></li>
							<li class="footer-item-link"><a href="#">荣誉资质</a></li>
							<li class="footer-item-link"><a href="#">安全保障</a></li>
							<li class="footer-item-link"><a href="#">联系我们</a></li>
							<li class="footer-item-link"><a href="#">在线报名</a></li>
						</ul>
					</li>

				</ul>

				<div class="code">
					 <div class="code-txt fl">
						 <p>深圳市百捷探索科技有限公司  版权所有  #备案号：暂无 <br>
							培训热线  ：4008-121-557   邮箱：1389855368@139.com<br>
							福田运营中心 ：深圳市福田区梅林街道运发科技大楼6楼<br>
							龙岗户外营地 ：深圳市龙岗区布吉街道求水山百捷探索营地<br>
							大鹏滨海营地 ：深圳市大鹏区鹏飞路农科中心百捷滨海营地</p>
					 </div>
					 <div class="code-img fr">
						<p><img src="Skins/Default/Img/Common/code.jpg" alt="" ><span>关注官方微信</span></p>
						<p><img src="Skins/Default/Img/Common/code.jpg" alt="" ><span>关注官方微信</span></p>
					 </div>
				</div>
				<div class="link">
					<p><span>申请友情链接：</span><a href="#">公司团建活动</a><a href="#">公司团建活动</a><a href="#">公司团建活动</a><a href="#">公司团建活动</a><a href="#">公司团建活动</a><a href="#">公司团建活动</a><a href="#">公司团建活动</a></p>
				</div>

			</div>
		</div>
		<!-- E footer -->
		
		<!--top-->
		<!--<div class="top-s"><a href="#"><img src="Skins/Default/Img/Common/top.jpg" /></a></div>-->
		<script src="js/Jquery.js"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js"></script>
		<script src="JS/wow.min.js"></script>
		<script src="JS/swiper.min.js"></script>
		<script type="text/javascript">
			
			$(document).ready(function() {
				new WOW().init();

				// $(".sl ul li").mouseover(function() {
				// 	$(this).addClass("cur");
				// }).mouseout(function() {
				// 	$(this).removeClass("cur");
				// });

				
				//swiper-案例展示
				var swiper = new Swiper('.swiper-container', {
					watchSlidesProgress: true,
					centeredSlides: true,
					loop: true,
					loopedSlides: 3,
					slidesPerView: "auto",
					prevButton: '.swiper-button-prev',
					nextButton: '.swiper-button-next',

				});

			});
		</script>
	</body>
	<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<![endif]-->

</html>
