<!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商品导航页面</title>
<meta name="keywords" content="营销型网站,营销型网站建设,深圳网站建设,牛商网,网站托管,网站建设公司" />
<meta name="description" content="牛商网是深圳营销型网站建设公司,中国营销型网站创始者,营销型网站标准制定者,服务范围营销型网站建设,网站运营托管,网站外包,深圳网站建设等,咨询热线:4000-333-087" />
<link href="../css/skins.css"  rel="stylesheet" type="text/css" />
<link href="../Css/prolist.css" rel="stylesheet" type="text/css" />
<link href="../Css/common.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--头部-->

<!--logo-->
<header class="g-hd">
    <div class="m-logo">
        <a href="#"><img src="../Images/Common/logo.jpg"/></a>
    </div>
    <div class="m-title">				
        <h1>专注亚克力展示道具匠心定制工厂<span>让亚克力来呈现产品的美与价值</span></h1>
    </div>
</header>

<!--返回-->
<div class="g-back">
    <a href="javascript:history.go(-1)" class="u-bp f-fl"></a>
    <a href="/Mobile/MProduct/listnav.html" class="u-bl f-fr"></a>
    <a href="/Mobile/index.html" class="u-bh f-fr"></a>
</div>

<!--搜索-->
<div class="g-se">
	<span class="u-bt"></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>

<!--商品分类-->
<div class="g-bd">
    <h3 class="m-btit"><a href="/Mobile/index.html">首页</a><span></span>商品分类</h3>
    <div class="m-pronav">
        <ul class="prolist">
            <li>
                <p class="down">按使用人群分类<span></span></p>
                <ul class="list1">
                    <a href="/Mobile/Mproduct/prolist1.html"><li>男士手表</li></a>
                    <a href="/Mobile/Mproduct/prolist2.html"><li>女士手表</li></a>
                    <a href="/Mobile/Mproduct/prolist1.html"><li>情女手表</li></a>
                    <a href="/Mobile/Mproduct/prolist2.html"><li>儿童手表</li></a>
                    <a href="/Mobile/Mproduct/prolist1.html"><li>老年人手表</li></a>
                </ul>
            </li>
            <li>
                <p class="down">按手表风格分类<span></span></p>
                <ul class="list2">
                    <a href="#1"><li>男士手表</li></a>
                    <a href="#1"><li>女士手表</li></a>
                    <a href="#1"><li>情女手表</li></a>
                    <a href="#1"><li>儿童手表</li></a>
                    <a href="#1"><li>儿童手表</li></a>
                    <a href="#1"><li>老年人手表</li></a>
                    <div class="clear"></div>
                </ul>
            </li>
            <li>
                <p class="down">按表带材质划分<span></span></p>
                <ul class="list3">
                    <a href="#1"><li>男士手表</li></a>
                    <a href="#1"><li>女士手表</li></a>
                    <a href="#1"><li>情女手表</li></a>
                    <a href="#1"><li>儿童手表</li></a>
                    <a href="#1"><li>老年人手表</li></a>
                    <a href="#1"><li>男士手表</li></a>
                    <a href="#1"><li>女士手表</li></a>
                    <a href="#1"><li>情女手表</li></a>
                    <a href="#1"><li>儿童手表</li></a>
                    <a href="#1"><li>老年人手表</li></a>
                    <a href="#1"><li>男士手表</li></a>
                    <a href="#1"><li>女士手表</li></a>
                    <a href="#1"><li>情女手表</li></a>
                    <a href="#1"><li>儿童手表</li></a>
                    <a href="#1"><li>老年人手表</li></a>
                    <div class="clear"></div>
                </ul>
            </li>
            <li><p class="down">按手表功能分类<span></span></p></li>
            <li><p class="down">按手表价格分类<span></span></p></li>
        </ul>
    </div>
</div>

<!--底部开始-->
<footer class="g-ft m-bg">
    <div class="top"><a href="#"><img src="../Images/Common/top.png" alt="" />返回顶部</a></div>
    <div class="f-dz">	
        <span><a href="#">联系我们</a>|<a href="#">关于我们</a>|<a href="#">网站地图</a> </span>	
        <p>深圳市森涛亚克力制品有限公司    版权所有</p>
    </div>
    <div class="g_fnva f_cb">
        <div class="f_bj">
            <ul class="m-f01 f_cb">
                <li>
                    <a href="tel:400-8888-888"><img src="../Images/Common/f_ico1.png" alt="" /><span>电话咨询</span></a>
                </li>
                <li>
                    <a href="#"><img src="../Images/Common/f_ico2.png" alt="" /><span>产品中心</span></a>
                </li>
                <li>
                    <a href="#"><img src="../Images/Common/f_ico3.png" alt="" /><span>荣誉资质</span></a>
                </li>
                <li>
                    <a href="#"><img src="../Images/Common/f_ico4.png" alt="" /><span>森涛首页</span></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
<script type="text/javascript" src="/Mobile/js/Jquery.js"></script>
<script type="text/javascript" src="/Mobile/js/nsw_mobile.js"></script>
</html>
