<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content="telephone=no" name="format-detection" />
		<title>百捷探索</title>
		<link href="Skins/Default/swiper.min.css" rel="stylesheet" type="text/css" />
		<link href="Skins/Default/Index.css" rel="stylesheet" type="text/css" />
		<link href="Skins/Default/resetcommon.css" rel="stylesheet" type="text/css" />
		<link href="Skins/Default/animate.min.css" rel="stylesheet" type="text/css" />
		
	</head>

	<body>
		<div class="topWrap">
			<div class="header clearfix">
				<div class="h_hr">
					<p class="fl">您好，欢迎进入上海鼎拓实业有限公司  <a href="#">官方网站</a></p>
					<span class="fr"><a href="#">收藏本站</a>|<a href="#">在线留言</a>|<a href="#">网站地图</a></span>
				</div>
				<div class="h_con">
					<div class="logo wow zoomIn">
						<a href="#"><img src="Skins/Default/Img/Common/logo.jpg"/></a>
					</div>
					<div class="h-bt fl">
						<h1><span>提供系统称重专业解决方案</span> <b>15年专注工业称重研发生产</b></h1>
					</div>
					<div class="h_tel fr">
						<p>全国咨询热线<b>021-57676453</b></p>
					</div>
				</div>			                                            
				<div class="nav">             
					<ul>                          
						<li class="cur fisrt"><a href="#">网站首页</a></li>
						<li><a href="#">防爆电子秤</a></li>
						<li><a href="#">滚筒称重机</a></li>
						<li><a href="#">产品中心</a></li>
						<li><a href="#">合作案例</a></li>
						<li><a href="#">称重解决方案</a></li>
						<li><a href="#">资讯中心</a></li>
						<li><a href="#">走进鼎拓</a></li>
						<li class="last"><a href="#">联系我们</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="banner">
			<a href="#"></a>
		</div>

		<div class="born">
			<h2 class="bt"><a href="#">防爆概念的诞生</a></h2>
			<div class="content">
				<dl class="clearfix">
					<dt><a href="#"><img src="Skins/Default/Img/Index/ds_img.jpg" ></a></dt>
					<dd>
						<p>随着我国工业化进程的不断发展，越来越多的电气设备被广泛应用于工业生产的各个领域，极大地促进了生产的提高；然而在石油，化工，粮食，医药等可能出现爆炸性危险场所的行业，随着其生产规模的日益扩大，自动化程度的不断提高如何防止事故性爆炸的发生已成为十分迫切的需求。</p>
						<span><a href="#">在线咨询</a></span>
					</dd>
				</dl>
			</div>
		</div>

		<div class="classification">
			<h2 class="bt"><a href="#">我国将爆炸性物质分为以下3类</a></h2>
			<div class="content">
				<div class="classification-inner">
					<ul>
						<li class="li1"><span>I 类</span><p>矿井甲烷</p></li>
						<li class="li2"><span>II 类</span><p>爆炸性气体混合物</p></li>
						<li class="li3"><span>III 类</span><p>可燃性粉尘/纤维</p></li>
					</ul>
					<div class="classification-txt">依据点燃能量的不同又可划分为：</div>
					<div class="classification-img"><img src="Skins/Default/Img/Index/fl_img.jpg" ></div>
				</div>
			</div>
		</div>

		<div class="divide">
			<h2 class="bt"><a href="#">危险场所的区域划分</a></h2>
			<div class="content">
				<div class="table">
					<table class="insure-table table1">
						<tr>
							<th colspan="2"><b>气体环境</b><p>根据出现频率和持续时间把危险场所分为以下三个区域</p></th>
						</tr>
						<tr>
							<td width="100"><b>0 区 </b></td>
							<td><p>爆炸性气体环境连续出现或长时间存在的场所（1000小时/年
								以上）.</p></td>
						</tr>
						<tr>
							<td><b>1 区 </b></td>
							<td><p>在正常运行时，可能出现爆炸性气体环境的场所（10-1000小
								时/年）.</p></td>
						</tr>
						<tr>
							<td><b>2 区 </b></td>
							<td><p>在正常运行时，不可能出现爆炸性气体环境，如果出现也只是
								偶尔发生并且仅是短时间存在的场所（10小时/年以下）.</p></td>
						</tr>
					</table>
					<table class="insure-table table2">
						<tr>
							<th colspan="2"><b>粉尘环境</b><p>根据出现频率和持续时间及粉尘层厚度进行划分为以下三个区域</p></th>
						</tr>
						<tr>
							<td width="100"><b>20 区</b></td>
							<td><p>在正常运行过程中可燃性粉尘连续出现或经常出现，其数量足以形成可燃性粉尘与空气混合物/或可能形成无法控制和极厚的粉尘层的场所 .</p></td>
						</tr>
						<tr>
							<td><b>21 区</b></td>
							<td><p>在正常运行过程中，可能出现粉尘数量足以形成可燃性粉尘与空气混合物但未划入2 0区的场所 .</p></td>
						</tr>
						<tr>
							<td><b>22 区</b></td>
							<td><p>在异常条件下，可燃性粉尘云偶尔出现并且只是短时间存在，或可燃性粉尘偶尔出现堆积，或可能存在粉尘层并且产生可燃性粉尘空气混合物的场所 .</p></td>
						</tr>
					</table>
				</div>
				<div class="divide-min">
					<div class="divide-img"><img src="Skins/Default/Img/Index/hf_img1.jpg" ></div>
					<div class="divide-list">
						<h3>防爆危险区域划分的主要标准依据：</h3>
						<ul>
							<li><img src="Skins/Default/Img/Index/hf_ico1.png" > <b>GB2826.14</b><p>爆炸性气体环境用电气设备 第14部分 危险场所分类.</p></li>
							<li><img src="Skins/Default/Img/Index/hf_ico2.png" > <b>GB12476.3</b><p>可燃性粉尘环境用电气设备 第3部分 存在或可能存在可燃性粉尘的场所分类.</p></li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<div class="field">
			<h2 class="bt"><a href="#">具有潜在爆炸危险的工业领域有哪些？</a></h2>
			<div class="field-cont clearfix">
				<ul class="field-ul fl">
					<li>石油、天然气开采</li>
					<li>气体管线输配站</li>
					<li>炼油、化工企业</li>
					<li>分析实验室</li>
					<li>燃油/燃气充装站</li>
					<li>表面喷涂工业</li>
					<li>医药制药业</li>
					<li>印刷工业</li>
				</ul>
				<div class="field-box"><p>您属于哪个领域？</p></div>
				<ul class="field-ul fr">
					<li>电子器件制造业</li>
					<li>制糖业</li>
					<li>地下煤矿工业</li>
					<li>木材加工区</li>
					<li>污水处理厂</li>
					<li>粮食处理和储存</li>
					<li>医院手术室</li>
					<li>金属表面研磨，特别是铝粉和粒子</li>
				</ul>
			</div>
		</div>

		<div class="fa">
			<h2 class="bt"><a href="#">系统称重解决方案</a><p>鼎拓为各行业提供系统称重专业解决方案，客户现场使用场景</p></h2>
			<div class="content">
				<ul class="fa-ul clearfix">
					<li><a href="#"><div class="box"> <img src="Skins/Default/Img/Index/fa_img1.jpg" ></div><span>油漆调色配料系统中的应用</span></a></li>
					<li><a href="#"><div class="box"><img src="Skins/Default/Img/Index/fa_img1.jpg" ></div><span>乳液灌装车间应用</span></a></li>
					<li><a href="#"><div class="box"><img src="Skins/Default/Img/Index/fa_img1.jpg" ></div><span>涂料配料车间</span></a></li>
					<li class="no"><a href="#"><div class="box"><img src="Skins/Default/Img/Index/fa_img1.jpg" ></div><span>油漆调色配料系统中的应用</span></a></li>
					<li><a href="#"><div class="box"><img src="Skins/Default/Img/Index/fa_img1.jpg" ></div><span>防爆配料车间应用</span></a></li>
					<li><a href="#"><div class="box"><img src="Skins/Default/Img/Index/fa_img1.jpg" ></div><span>涂料车间应用</span></a></li>
					<li><a href="#"><div class="box"><img src="Skins/Default/Img/Index/fa_img1.jpg" ></div><span>农牧牛采食系统应用</span></a></li>
					<li class="no"><a href="#"><div class="box"><img src="Skins/Default/Img/Index/fa_img1.jpg" ></div><span>液氯充装钢瓶秤应用</span></a></li>
				</ul>
			</div>
		</div>

		<div class="ys">
			<h2 class="bt"><a href="#">防爆电子秤部件组成及产品分类</a></h2>
			<div class="ys-cont">
				<div class="ys-box">
					<div class="content">
						<div class="ys-min">
							<div class="ys-img">
								<img src="Skins/Default/Img/Index/fl_img1.jpg" >
							</div>
							<ol>
								<li class="cur">产品展示</li>
								<li>产品特点</li>
								<li>典型应用1</li>
								<li>典型应用2</li>
								<li>典型应用3</li>
								<li>产品配置</li>
							</ol>
						</div>
						<div class="ys-list">
							<h4>防爆称重仪表</h4>
							<ul>
								<li><a href="#">防爆称重仪表ID226X</a></li>
								<li><a href="#">隔爆型称重仪表Exd ID550</a></li>
								<li><a href="#">隔爆型称重仪表Exd ID510</a></li>
								<li><a href="#">称重仪表Exd ID510 配料</a></li>
								<li><a href="#">隔爆型称重仪表Exd ID511</a></li>
								<li><a href="#">型隔爆称重仪表Exd ID226XX</a></li>
								<li><a href="#">型隔爆称重仪表Exd ID226XX</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="ys-box odd">
					<div class="content">
						<div class="ys-min">
							<div class="ys-img">
								<img src="Skins/Default/Img/Index/fl_img1.jpg" >
							</div>
							<ol>
								<li class="cur">产品展示</li>
								<li>产品特点</li>
								<li>典型应用1</li>
								<li>典型应用2</li>
								<li>典型应用3</li>
								<li>产品选型配置</li>
							</ol>
						</div>
						<div class="ys-list">
							<h4>防爆称重传感器</h4>
							<ul>
								<li><a href="#">防爆WB701系列称重传感器</a></li>
								<li><a href="#">防爆WB702系列称重传感器</a></li>
								<li><a href="#">防爆WB1260系列称重传感器</a></li>
								<li><a href="#">防爆WBT110C系列称重传感器</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="ys-box">
					<div class="content">
						<div class="ys-min">
							<div class="ys-img">
								<img src="Skins/Default/Img/Index/fl_img1.jpg" >
							</div>
							<ol>
								<li class="cur">产品展示</li>
								<li>产品特点</li>
								<li>产品选型配置</li>
								<li>产品应用</li>
							</ol>
						</div>
						<div class="ys-list">
							<h4>防爆电子秤产品分类</h4>
							<ul>
								<li><a href="#">TCS系列  防爆台秤BWA-226X</a></li>
								<li><a href="#">电子平台秤 SCS系列  </a></li>
								<li><a href="#">防爆电子叉车秤</a></li>
								<li><a href="#">防爆称重模块</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="ys-box odd">
					<div class="content">
						<div class="ys-min">
							<div class="ys-img">
								<img src="Skins/Default/Img/Index/fl_img1.jpg" >
							</div>
							<ol>
								<li class="cur">产品展示</li>
								<li>简介及防爆</li>
								<li>产品防爆</li>
								<li>危险/安全</li>
							</ol>
						</div>
						<div class="ys-list">
							<h4>防爆产品附件</h4>
							<ul>
								<li><a href="#">接线盒AJB-005X</a></li>
								<li><a href="#">防爆大屏幕</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="major">
			<h2 class="bt"><a href="#">防爆称重产品，我们更专业</a><p>15年专注工业称重研发生产，工业称重一站式解决方案</p></h2>
			<div class="content">
				<div class="major-min">
					<ul>
						<li><a href="#"><img src="Skins/Default/Img/Index/zy_img1.jpg" ><div class="contents"><div class="contents-box"><p>生产车间</p><i class="icon"></i></div></div></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/zy_img1.jpg" ><div class="contents"><div class="contents-box"><p>生产车间</p><i class="icon"></i></div></div></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/zy_img1.jpg" ><div class="contents"><div class="contents-box"><p>生产车间</p><i class="icon"></i></div></div></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/zy_img1.jpg" ><div class="contents"><div class="contents-box"><p>生产车间</p><i class="icon"></i></div></div></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/zy_img1.jpg" ><div class="contents"><div class="contents-box"><p>生产车间</p><i class="icon"></i></div></div></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/zy_img1.jpg" ><div class="contents"><div class="contents-box"><p>生产车间</p><i class="icon"></i></div></div></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/zy_img1.jpg" ><div class="contents"><div class="contents-box"><p>生产车间</p><i class="icon"></i></div></div></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/zy_img1.jpg" ><div class="contents"><div class="contents-box"><p>生产车间</p><i class="icon"></i></div></div></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/zy_img1.jpg" ><div class="contents"><div class="contents-box"><p>生产车间</p><i class="icon"></i></div></div></a></li>
						<li><a href="#"><div class="contents"><div class="contents-box"><p class="des">产品顾问蒋小姐</p><p class="tel">13641981733</p><div class="btn">立即咨询</div></div></div></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="qualifications">
			<h2 class="bt"><a href="#">我们获得的专利资质</a><p>15年专注工业称重研发生产，为各行业提供系统称重专业解决方案</p></h2>
			<div class="content">
				<div class="qualifications-min">
					<ul class="clearfix">
						<li><a href="#"><img src="Skins/Default/Img/Index/zz_img1.jpg" ><p>防爆系统证书</p></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/zz_img1.jpg" ><p>防爆系统证书</p></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/zz_img1.jpg" ><p>防爆系统证书</p></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/zz_img1.jpg" ><p>防爆系统证书</p></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/zz_img1.jpg" ><p>防爆系统证书</p></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="scale">
			<h2 class="bt"><a href="#">他们都在选用我们的防爆电子秤</a><p>国内超1000家化工、医药、食品、物流等中大型企业长期信赖选择</p></h2>
			<div class="content">
				<div class="scale-min">
					<ul class="clearfix">
						<li><a href="#"><img src="Skins/Default/Img/Index/hz_img2.jpg" ></a></li>
						<li></li>
						<li></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/hz_img1.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/hz_img1.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/hz_img1.jpg" ></a></li>
						<li></li>
						<li></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/hz_img1.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/hz_img1.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/hz_img1.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/hz_img1.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/hz_img1.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/hz_img1.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/hz_img1.jpg" ></a></li>
						<li><a href="#"><img src="Skins/Default/Img/Index/hz_img1.jpg" ></a></li>
					</ul>
				</div>
			</div>
		</div>


		<div class="clear"></div> 
		<!-- S footer -->
		<div class="ftbg">
			<div class="footer container">
				<div class="footer-logo">
					<h1><a href="/" title="鼎拓"><img src="Skins/Default/Img/Common/f_logo.jpg" alt="鼎拓" title="鼎拓" /></h1>
				</div>
				<div class="footer-box">
					<div class="f-nav">
						<a href="/" title="网站首页 " >网站首页 </a>|<a href="/pdczj.html" title="皮带称重机" >皮带称重机</a>|<a href="/dlgdczj.html" title="滚筒称重机" >滚筒称重机</a>|<a href="/product/" title="产品中心" >产品中心</a>|<a href="/project/" title="产品解决方案" >产品解决方案</a>|<a href="/cgal.html" title="合作案例" >合作案例</a>|<a href="/xwzx.html" title="资讯中心" >资讯中心</a>|<a href="/zjdt.html" title="走进鼎拓" >走进鼎拓</a>|<a href="/lxdt.html" title="联系我们" >联系我们</a>
					</div>
					<div class="contact">
						<div class="qrcode" style="margin-left:5px;">
							<img src="Skins/Default/Img/Common/ewm.jpg" alt="" />
							<p>扫一扫加微信</p>
						</div>
						<div class="qrcode">
						  <img src="Skins/Default/Img/Common/ewm.jpg" alt="" />
						  <p>手机网站二维码</p>
						</div>
						<div class="address">
							<p>
								上海鼎拓实业有限公司    版权所有 备案号：<a href="http://www.miitbeian.gov.cn/" title="沪ICP备13011598号-10" target="_blank" rel="nofollow">沪ICP备13011598号-10</a><br>
								服务热线：021-5767-6453&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;136-4198-1733（微信同号）<br>    
								E-mail：shdtuo@163.com<br>
								传真：021-5770-9403转809<br>
								地址：上海市松江区九干路220号 <a href="Skins/Default/Img/Common/icon.gif" target = "_blank">网站XML地图</a><br>
								<b><img src="/Skins/Default/Img/common/icon.gif" /></b>						
							</p>
						</div>
		
					</div>
				</div>
			</div>
		</div>
		<!-- E footer -->
		
		<!--top-->
		<!--<div class="top-s"><a href="#"><img src="Skins/Default/Img/Common/top.jpg" /></a></div>-->
		<script src="js/Jquery.js"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js"></script>
		<script src="JS/wow.min.js"></script>
		<script src="JS/swiper.min.js"></script>
		<script type="text/javascript">
			
			$(document).ready(function() {
				new WOW().init();

				// $(".sl ul li").mouseover(function() {
				// 	$(this).addClass("cur");
				// }).mouseout(function() {
				// 	$(this).removeClass("cur");
				// });

				
				//swiper-案例展示
				var swiper = new Swiper('.swiper-container', {
					watchSlidesProgress: true,
					centeredSlides: true,
					loop: true,
					loopedSlides: 3,
					slidesPerView: "auto",
					prevButton: '.swiper-button-prev',
					nextButton: '.swiper-button-next',

				});

			});
		</script>
	</body>
	<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<![endif]-->

</html>
