<!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻详细魂牵梦萦魂牵梦萦页</title>
<meta name="keywords" content="营销型网站,营销型网站建设,深圳网站建设,牛商网,网站托管,网站建设公司" />
<meta name="description" content="牛商网是深圳营销型网站建设公司,中国营销型网站创始者,营销型网站标准制定者,服务范围营销型网站建设,网站运营托管,网站外包,深圳网站建设等,咨询热线:4000-333-087" />
<link href="/Mobile/css/skins.css"  rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/news.css" rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/common.css" rel="stylesheet" type="text/css">
</head>

<body id="Details_Page">
<!--头部-->

<!--logo-->
<header class="g-hd f_cb">
    <a href="/Mobile/index.html" name="logo" class="m-logo">
        <img src="/Mobile/Images/web/grey.gif" data-src="/Mobile/Images/Common/logo.jpg" alt="" title=""/>
    </a>
    <p class="m-tel f_fr">
    <span class="u-text"><b>中国基建工程一站式</b>[阳光]供应链集成服务创始者</span>
    <span class="u-telp">
    <i class="u-tel"><em class="z-ln-3 s-ln-3"></em><em class="z-ln-1 s-ln-1"></em><em class="z-ln-2 s-ln-2"></em></i>
    <a href="tel:400-058-5888" class="u-num s-num">400-058-5888</a></span>
    </p>
</header>

<!--返回-->
<div class="g-back">
    <a href="javascript:history.go(-1)" class="u-bp f-fl"></a>
    <a href="/Mobile/MProduct/listnav.html" class="u-bl f-fr"></a>
    <a href="/Mobile/index.html" class="u-bh f-fr"></a>
</div>

<!--搜索-->
<div class="g-se">
	<span class="u-bt"></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>
<!--新闻详细页-->
<div class="g-bd">
    <!--新闻导航-->
    <h3 class="m-btit"><a href="#1">首页</a><span></span><a href="/Mobile/Template/Product/Model/Index/model1.html">男士手表</a></h3>
    <div class="m-con">
        <!--新闻标题-->
        <div class="u-mtit f-tc">
            <h1 class="s-wc">手表进水了怎么办?</h1>
            <P>2013年03月26日08:29&nbsp;环球时报<a href="#1" class="s-wc">评论(200条) </a></P>
        </div>
        <!--新闻内容-->
        <div class="m-mcon">
            <p>及配送时效，若已超出配送时限，您可致电客服热线400-716-2828，以便尽快帮您处理; 海外客户可发送邮件至海外客服邮箱english@moon
            basa.com, 我们将第一时间为您联系物流，尽快配送。未收到出库信息的订单，您可登陆"我的梦芭莎"查看订单最新状态，如您的订单中包含缺货商品，我们将在商品到货后优先为您安排配送，同时订单发出我们将邮件</p>
            <p style="float:left; padding-right:20px; padding-top:35px;"><img src="/Mobile/Images/Web/news2.png" width="98" height="90"></p>
            <P>在芦山地震抗震救灾的关键时刻，今日有不法人员在网上编造谣言，煽动进行非法"示威游行"，并谎称"政府已批准"。我市公安机关已对此立案侦查，并特别申明，迄今为止没有批准任何形式的游行示威活动，对造谣、传谣者将依法严肃处理，并提醒广大市民不信谣、不传谣、不参与，自觉维护社会稳定</p>
            <p class="clear"></p>
        </div>
        <!--分页-->
        <div class="g-page f-tc">
                <a class="u-pup" href="javascript:void(0)">上一页</a>
                <a class="u-sa" href="javascript:void(0)">余下全文</a>
                <p><span class="u-pnum">1</span>/5</p>
                <a class="u-pne" href="#">下一页</a>
            </div>
        <!--分享-->
        <div class="m-share">
            <div class="m-ico">
            	<span>分享到：</span>
                <a class="u-ico-1"></a>
                <a class="u-ico-2"></a>
                <a class="u-ico-3"></a>
                <a class="u-ico-4"></a>
                <a class="u-ico-5"></a>
                <div class="clear"></div>
            </div>
            
        </div>
        <!--关于手机的相关新闻-->
        <div class="m-about">
            <h2 class="m-tit z-spe s-wc">关于"<strong class="z-spw">手机</strong>"的相关新闻</h2>
            <p class="list">
                <a href="/Mobile/mproducts/mproducts.html" >特色双时区腕表推荐 </a>
                <a href="/Mobile/mproducts/mproducts.html" >欧镭参与北京手表企业峰会 </a>
                <a href="/Mobile/mproducts/mproducts.html" >手表进水这么办？ </a>
                <a href="/Mobile/mproducts/mproducts.html" >如何进行手表维修？ </a>
                <a href="/Mobile/mproducts/mproducts.html" >欧镭手表设计或新浪推荐  </a>
                <a href="/Mobile/mproducts/mproducts.html" >手表进水这么办？ </a>
            </p>
        </div>
        <!--网友热评-->
        <div class="m-com">
        	<h2 class="m-tit z-spe s-wc">网友热评</h2>
            <div class="u-idet"><textarea name=""  value="还可以输入140个字" class="clear_word">还可以输入140个字</textarea></div>
            <div class="u-btn">
                <input class="z-mg u-co-bt" type="button" value="我要评论" name="">
        	</div>
        	<div class="u-relay">
            <dl>
                <dt class="relay_time"><span>周凯</span> 于<em>2013-3-25 14:25:12</em>说道：</dt>
                <dd>
                    <p class="re_fir">希望中国的品牌能符合国情，千万别太贵哟，不然出现太多的仿品就砸牌子了</p>
                    <p class="re_sec"><span class="tit">管理员回复：</span>我们的是正品哦！</p>
                </dd>
            </dl>
            <dl>
                <dt class="relay_time"><span>周凯</span> 于<em>2013-3-25 14:25:12</em>说道：</dt>
                <dd>
                    <p class="re_fir">希望中国的品牌能符合国情，千万别太贵哟，不然出现太多的仿品就砸牌子了</p>
                </dd>
            </dl>
            <dl>
                <dt class="relay_time"><span>周凯</span> 于<em>2013-3-25 14:25:12</em>说道：</dt>
                <dd>
                    <p class="re_fir">希望中国的品牌能符合国情，千万别太贵哟，不然出现太多的仿品就砸牌子了</p>
                </dd>
            </dl>
            <p class="show_more"><a href="#1" class="s-wc">评论(200条)</a><input class="u-co-bt f-fr" type="button" value="全部评论" name=""></p>
        </div>
        </div>
        <!--推荐产品-->
        <div class="m-rec j-slide-np">
            <a href="#1" class="s-wc"><h2 class="m-tit z-spe"><span class="u-ico"></span>推荐产品</h2></a>
            <div class="m-con">
                <div class="prev"></div>
                <div class="m-nowr">
                    <div class="m-box">
                        <p>
                    <a href="/Mobile/mproducts/mproducts.html"><img src="../Images/web/pro6.jpg" width="130" height="130" alt="" title="">全自动机械表</a>
                    <a href="/Mobile/mproducts/mproducts.html"><img src="../Images/web/pro7.jpg" width="130" height="130" alt="" title="">黄金双色表</a>
                </p>
                		<p>
                    <a href="/Mobile/mproducts/mproducts.html"><img src="../Images/web/pro6.jpg" width="130" height="130" alt="" title="">全自动机械表</a>
                    <a href="/Mobile/mproducts/mproducts.html"><img src="../Images/web/pro7.jpg" width="130" height="130" alt="" title="">黄金双色表</a>
                        </p>
                    </div>
                </div>
                <div class="next"></div>
            </div>
        </div>
        <!--热点推荐-->
        <div class="m-about">
            <h2 class="m-tit z-spe s-wc">热点推荐</h2>
            <p class="list">
                <a href="#" class="first" >特色双时区腕表推荐 </a>
                <a href="#" >欧镭参与北京手表企业峰会 </a>
                <a href="#" >手表进水这么办？ </a>
                <a href="#" >如何进行手表维修？ </a>
                <a href="#" >欧镭手表设计或新浪推荐  </a>
                <a href="#" >手表进水这么办？ </a>
            </p>
        </div>
        <!--搜索-->
        <div class="g-se">
	<span class="u-bt"></span>
<input type="button" class="u-in">
            <div class="m-ipt">
                <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<!--底部开始-->
<footer class="g-ft m-bg">
  <a href="#logo"><div class="u-top f-pr"><span></span><i class="btop">TOP</i></div></a>
  <div class="m-bmu">
    <a href="/Mobile/index.html">首页</a>|<a href="#">物融1+N集成服务</a>|<a href="#">中交物融网</a>|<a href="#">工程案例</a><br/>
    <a href="#">集团优势</a>|<a href="#">新闻动态</a>|<a href="#">关于中交物产</a>|<a href="#">联系中交物产</a>|<a href="#"> 网站地图</a>
    <p>版权由中交物产集团所有<br/>【 备案号浙ICP备123456号-1】</p>
    <i class="code"><img src="/mobile/images/web/grey.gif" data-src="/Mobile/Images/common/code.jpg" ></i>
  </div>
  <i class="line"></i>
<div class="social_nav3" id="akb_slide">
    <div class="social3 fl">
        <a class="tel" href="tel:020-25874152">电话咨询</a>
        <a class="weichat" href="weixin://qr/gXUXGArEEzRshxt7nyCl">企业微信</a>
        <a class="weibo" href="http://m.weibo.com/niushangwangniu">企业微博</a>
        <a class="talk99" href="/Mobile">首页</a>
        <span class="tel"></span>
        <span class="weichat"></span>
        <span class="weibo"></span>
        <span class="talk99"></span>
        <em class="line_1"></em>
        <em class="line_2"></em>
    </div>
    <span class="btn"></span>
    <span class="btn2"></span>
</div>
</footer>

</body>
<script type="text/javascript" src="/Mobile/js/Jquery.js"></script>
<script type="text/javascript" src="/Mobile/js/nsw_mobile.js"></script>
</html>
