<!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻详细页</title>
<meta name="keywords" content="营销型网站,营销型网站建设,深圳网站建设,牛商网,网站托管,网站建设公司" />
<meta name="description" content="牛商网是深圳营销型网站建设公司,中国营销型网站创始者,营销型网站标准制定者,服务范围营销型网站建设,网站运营托管,网站外包,深圳网站建设等,咨询热线:4000-333-087" />
<link href="/Mobile/css/skins.css"  rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/news.css" rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/common.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--头部-->

<!--logo-->
<header class="g_hd">
    <a href="/Mobile/index.html" name="logo" class="m-logo">
        <img src="/Mobile/Images/web/grey.gif" data-src="/Mobile/Images/Common/logo.jpg"  alt="" title=""/>
    </a>
    <span class="m_tel f_fr">
      <p class="u_text">榆林教育电子第一品牌</p>
      <p class="u_tel">
        <i class="tel3"><img src="/Mobile/Images/web/grey.gif" data-src="/Mobile/Images/Common/tel.jpg"  alt="" title=""/></i>
        0912-3449261</p>
    </span>
   
</header>

<!--返回-->
<div class="g-back">
    <a href="javascript:history.go(-1)" class="u-bp f-fl"></a>
    <a href="/Mobile/MProduct/listnav.html" class="u-bl f-fr"></a>
    <a href="/Mobile/index.html" class="u-bh f-fr"></a>
</div>

<!--搜索-->
<div class="g-se">
	<span class="u-bt"></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>
<!--新闻详细页-->
<div class="g-bd">
    <!--新闻导航-->
    <h3 class="m-btit"><a href="#1">首页</a><span></span><a href="/Mobile/Template/Product/Model/Index/model1.html">新闻列表</a></h3>
    <div class="m-con1">
        <!--新闻标题-->
        <div class="u-mtit">
            <h1 class="s-tit">醛净森呼吸健康墙面漆</h1>
            <P class="f-tr"><i class="f-fl">2013年05月03日 17：40</i><a href="#1" class="num">325<i class="pic"></i></a></P>
        </div>
        <!--新闻内容-->
        <div class="m-mcon1">
        <p><img src="/mobile/Images/Web/news3.jpg" width="300" height="193"></p>
            <p>及配送时效，若已超出配送时限，您可致电客服热线400-716-2828，以便尽快帮您处理; 海外客户可发送邮件至海外客服邮箱nglis@msa.com, 我们将第一时间为您联系物流，尽快配送。未收到出库信息的订单，您可登陆"我的梦芭莎"查看订单最新状态，</p>
            <P>本产品采用现代领先的制漆技术和精选优质原材料生产，特别注重现代涂料科技与技术环保融合，产品具有优异的综合性能，能全面的解决墙面装饰的各种问题。</p>
        </div>
        <!--分页-->
        <div class="g-page1 f-tc">
                <a href="javascript:void(0)" class="rem">余下全文</a>
                <p>1/5</p>
                <div class="next">
                <a href="#" class="u-up">上一页</a>
                <a href="#" class="u-next">下一页</a>
                </div>
            </div>
    
    <!--热点推荐-->
        <div class="m-about">
            <h2 class="tj">热点推荐</h2>
            <p class="list">
                <a href="#" class="first" >好看、时尚、质量好！ </a>
                <a href="#" >为各大品牌做货，有实力！ </a>
                <a href="#" >iPad mini保护套的销量在近期内超过iPad </a>
                <a href="#" >保护套销量进顺皮具的发展历程 </a>
                <a href="#" >感谢湛江郭先生成交1100元  </a>
            </p>
        </div>
   
   
     <!--热买产品-->
        <div class="m-about">
            <h2 class="tj">热卖产品</h2>
             <p class="hot">
             <a href="/Mobile/mproducts/mproducts.html"><img src="/mobile/Images/web/pro6.jpg" width="95" height="95" alt="" title="">套房家具专用漆家具涂料</a>
             <a href="/Mobile/mproducts/mproducts.html"><img src="/mobile/Images/web/pro7.jpg" width="95" height="95" alt="" title="">办公家具专用漆家具涂料</a>
             <a href="/Mobile/mproducts/mproducts.html"><img src="/mobile/Images/web/pro8.jpg" width="95" height="95" alt="" title="">办公家具专用漆家具涂料</a>
            </p>
            <div class="clear"></div>
        </div>
   
    <!--用户评论-->
        <div class="m-about">
            <h2 class="tj">用户评论(<i class="red">705</i>)</h2>
             <div class="u-com">
            <dl>
            <dt>本产品采用现代领先的制漆技术和精选优质原材料生产，特别注重现代涂料科技与技术环保融合。</dt>
            <dd>
            <i class="f-fl">来自：qq123456789**</i>
            <i class="f-fr">2013/3/12  23:24:24</i>
            </dd>
            </dl>
            <dl>
            <dt>本产品采用现代领先的制漆技术和精选优质原材料生产，特别注重现代涂料科技与技术环保融合。</dt>
            <dd>
            <i class="f-fl">来自：qq123456789**</i>
            <i class="f-fr">2013/3/12  23:24:24</i>
            </dd>
            </dl>
         <a href="/mobile/MArticles/Comment.html"><p class="u-btn1">我要评论</p><p class="u-btn1">查看更多</p></a>
         <p class="clear"></p>
        </div>
         
        </div>
   
  </div>
</div>

<!--底部开始-->
<footer class="g-ft m-bg">
  <a href="#logo"><div class="u-top f-pr"><span></span><i class="btop">TOP</i></div></a>
  <div class="m-bmu">
    <a href="/Mobile/index.html">金马电讯首页</a>|<a href="#">小天才早教机</a>|<a href="#">步步高点读机</a>
    <br/><a href="#">步步高家教机</a>|<a href="#">销售服务网络</a>|<a href="#">站点地图</a>
    <br/>版权所有 2003-2015    备案号：123456 
    <i class="code"><img src="/mobile/images/web/grey.gif" data-src="/Mobile/Images/common/code.jpg" >扫一扫！</i>
  </div>
  <i class="line"></i>
 <div class="social_nav3" id="akb_slide">
    <div class="social3 fl">
        <a class="tel" href="tel:020-25874152">电话咨询</a>
        <a class="weichat" href="weixin://qr/gXUXGArEEzRshxt7nyCl">企业微信</a>
        <a class="weibo" href="http://m.weibo.com/niushangwangniu">企业微博</a>
        <a class="talk99" href="/Mobile">首页</a>
        <span class="tel"></span>
        <span class="weichat"></span>
        <span class="weibo"></span>
        <span class="talk99"></span>
        <em class="line_1"></em>
        <em class="line_2"></em>
    </div>
    <span class="btn"></span>
    <span class="btn2"></span>
</div> 
</footer>

</body>
<script type="text/javascript" src="/Mobile/js/Jquery.js"></script>
<script type="text/javascript" src="/Mobile/js/nsw_mobile.js"></script>
</html>
