<div class="g-pop">
    <h2><a class="return" href="javascript:void(0)" onclick="return_fun();"><i></i></a>我要下单</h2>
    <div class="m-con">
    <h5 class="xgmm">我的姓名：</h5>
    <p><input class="u-inna name clear_word" type="text" name="" value="请输入姓名"></p>
    <h5 class="xgmm">我的手机：</h5>
    <p><input class="u-inna name clear_word" type="text" name="" value="请输入手机"></p>
    <h5>留言：</h5>
    <p><textarea class="ly u-inna clear_word" rows="" cols="" name="">还可以输入140个字</textarea></p>
    <p class="show_more"><input type="button" class="u-co-bt" value="提 交" name=""></p>
</div>