   <!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产品详细页</title>
<meta name="keywords" content="营销型网站,营销型网站建设,深圳网站建设,牛商网,网站托管,网站建设公司" />
<meta name="description" content="牛商网是深圳营销型网站建设公司,中国营销型网站创始者,营销型网站标准制定者,服务范围营销型网站建设,网站运营托管,网站外包,深圳网站建设等,咨询热线:4000-333-087" />
<link href="/Mobile/css/skins.css"  rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/product.css" rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/common.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--头部-->

<!--logo-->
<header class="g-hd">
				<div class="m-muen">
					<a href="#"><img src="Images/Common/menu.png"/></a>
				</div>
				<div class="m-logo">
					<a href="#"><img src="Images/Common/logo.png"/></a>
				</div>
				<div class="m-tel">
					<p>全国服务热线：</p>
					<span>400-828-8366 <br>18951138886</span>
				</div>
				
			</header>

<!--返回-->
<div class="g-back">
    <a href="javascript:history.go(-1)" class="u-bp f-fl"></a>
    <a href="/Mobile/MProduct/listnav.html" class="u-bl f-fr"></a>
    <a href="/Mobile/index.html" class="u-bh f-fr"></a>
</div>
<!--搜索-->
<div class="g-se">
	<span class="u-bt"></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>
<!--产品详细页-->
<div class="g-bd">
    <!--产品导航-->
    <h3 class="m-btit"><a href="/Mobile/index.html">首页</a><span></span><a href="#1">情侣手表</a></h3>
    <div class="m-con">
        <!--产品数据-->
        <div class="contactus">
             <div class="text">
               <p>浪琴手表自1832年在瑞士索伊米亚(Saint-Imier) 创立开始，在全球屡屡突破制表技术而傲视同侪，同时又不失体现其优雅风范。</p>
               <p>1912年，浪琴手表[1]在世界运动会中缔造了历史性时刻，——率先运用断线原理，于比赛场上的起点与终点分别启动及终止计时装置。</p>
               <em><img src="/mobile/Images/Web/pro1.gif" width="295" height="188" alt="" title=""><i>优雅系列</i></em>
               <em><img src="/mobile/Images/Web/pro2.gif" width="295" height="188" alt="" title=""><i>制表传统</i></em>
            <!--分页-->
          <div class="g-page1 f-tc">
                <a class="u-pup" href="javascript:void(0)">上一页</a>
                <i class="u-pmid">1/5<span class="jt"></span></i>
                <a class="u-pne" href="#">下一页</a>
            </div>    
         </div>   
        </div>
</div>
</div>

<!--底部开始-->
<footer class="g-ft m-bg">
			
				<div class="f-dz">					
					<p><span>高端商务房车改装定制工厂</span>打造商务人士移动办公专属座驾</p>					
					<div class="code"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/code.jpg" alt="" /><em>公众号二维码</em></div>
				</div>
				
				<div class="g_fnva f_cb">
					<div class="f_bj">
						<ul class="m-f01 f_cb">
							<li>
								<a href="tel:400-8888-888"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_01.png" alt="" /><span>免费电话</span></a>
							</li>
							<li>
								<a href="#"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_02.png" alt="" /><span>在线咨询</span></a>
							</li>
							<li>
								<a href="#"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_03.png" alt="" /><span>车型分类</span></a>
							</li>
							<li>
								<a href="#"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_04.png" alt="" /><span>一键导航</span></a>
							</li>
						</ul>
					</div>
				</div>
			</footer>

</body>
<script type="text/javascript" src="/Mobile/js/Jquery.js"></script>
<script type="text/javascript" src="/Mobile/js/nsw_mobile.js"></script>
</html>
