   <!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产品详细页</title>
<meta name="keywords" content="营销型网站,营销型网站建设,深圳网站建设,牛商网,网站托管,网站建设公司" />
<meta name="description" content="牛商网是深圳营销型网站建设公司,中国营销型网站创始者,营销型网站标准制定者,服务范围营销型网站建设,网站运营托管,网站外包,深圳网站建设等,咨询热线:4000-333-087" />
<link href="/Mobile/css/skins.css"  rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/product.css" rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/common.css" rel="stylesheet" type="text/css">
</head>


<body>
<!--头部-->

<!--logo-->
<header class="g-hd">
				<div class="m-muen">
					<a href="#"><img src="Images/Common/menu.png"/></a>
				</div>
				<div class="m-logo">
					<a href="#"><img src="Images/Common/logo.png"/></a>
				</div>
				<div class="m-tel">
					<p>全国服务热线：</p>
					<span>400-828-8366 <br>18951138886</span>
				</div>
				
			</header>

<!--返回-->
<div class="g-back">
    <a href="javascript:history.go(-1)" class="u-bp f-fl"></a>
    <a href="/Mobile/MProduct/listnav.html" class="u-bl f-fr"></a>
    <a href="/Mobile/index.html" class="u-bh f-fr"></a>
</div>
<!--搜索-->
<div class="g-se">
	<span class="u-bt"></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>
<!--产品详细页-->
<div class="g-bd">
    <!--产品导航-->
    <h3 class="m-btit"><a href="/Mobile/index.html">首页</a><span></span><a href="#1">醛净森呼吸健康墙面漆</a></h3>
    <div class="m-con">
        <!--产品内容-->
        <div class="m-pp j-slide-np">
            <div class="no_wrap">
                <div class="prev"></div>
                <div class="next"></div>
                <div class="m-box">
                    <a href="javascript:void(0)"><img src="/mobile/images/web/pic_50.jpg" width="180" height="180"></a>
                    <a href="javascript:void(0)"><img src="/mobile/images/web/pic_50.jpg" width="180" height="180"></a>
                    <a href="javascript:void(0)"><img src="/mobile/images/web/pic_50.jpg" width="180" height="180"></a>
                    <a href="javascript:void(0)"><img src="/mobile/images/web/pic_50.jpg" width="180" height="180"></a>
                </div>
            </div>
        </div>
        <!--产品数据-->
        <div class="contactus">
             <h2>醛净森呼吸健康墙面漆</h2>
            <ul class="text">
                <li><span>产品型号：</span>PT-2700醛净森呼吸健康墙面漆</li>
                <li><span>规&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</span>6KG/桶  20KG/桶</li>
                <li><span>适用范围：</span>内墙</li>
                <li><span>光&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;泽：</span>哑光/丝光</li>
                <li><span>涂涮面积：</span>10-14㎡/KG/遍</li>
                <li><span>应用范围：</span>各种住宅、酒店、工程的室内装饰，
                   包括混凝土、砖墙、批灰、石膏板等。</li>
            </ul>
        </div>
        <!--联系我们-->
        
        <!--产品简介-->
        <div class="m-abpro1">
        	<h2 class="m-tit ">产品简介</h2>
            <div class="m-con">
                <P style="text-indent:0;">本产品采用现代领先的制漆技术和精选优质原材料生产，特别注重现代涂料科技与技术环保融合，产品具有优异的综合性能，能全面的解决墙面装饰的各种问题。</P>
            </div>
        </div>
        
        
       <!--产品详情,用户评论,我要下单-->
       <div class="m-muli">
       <ul>
       <a href="/Mobile/mproducts/mproducts2.html"> <li class="botop"><span class="u-ico"></span>产品详情</li></a>
       <a href="/mobile/MArticles/Comment.html"><li><span class="u-ico"></span>用户评论(<i class="red">705</i>)</li></a> 
       <div class="m-abpro1 ">
        	<h2 class="m-tit borno">我要下单</h2>
               <div class="m-con">
                <h5 class="xgmm">姓名：</h5>
                <p><input class="u-inna name clear_word" type="text" name="" value="请输入姓名"></p>
                <h5 class="xgmm">手机：</h5>
                <p><input class="u-inna name clear_word" type="text" name="" value="请输入手机"></p>
                <h5>留言：</h5>
                <p><textarea class="ly u-inna clear_word" rows="" cols="" name="">还可以输入140个字</textarea></p>
                <p class="show_more"><input type="button" class="u-co-bt" value="提 交" name=""></p>
                </div>
       </div>
       </ul>
      
       </div>
       

</div>
</div>




</div>

<!--底部开始-->
<footer class="g-ft m-bg">
			
				<div class="f-dz">					
					<p><span>高端商务房车改装定制工厂</span>打造商务人士移动办公专属座驾</p>					
					<div class="code"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/code.jpg" alt="" /><em>公众号二维码</em></div>
				</div>
				
				<div class="g_fnva f_cb">
					<div class="f_bj">
						<ul class="m-f01 f_cb">
							<li>
								<a href="tel:400-8888-888"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_01.png" alt="" /><span>免费电话</span></a>
							</li>
							<li>
								<a href="#"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_02.png" alt="" /><span>在线咨询</span></a>
							</li>
							<li>
								<a href="#"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_03.png" alt="" /><span>车型分类</span></a>
							</li>
							<li>
								<a href="#"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_04.png" alt="" /><span>一键导航</span></a>
							</li>
						</ul>
					</div>
				</div>
			</footer>
</body>
<script type="text/javascript" src="/Mobile/js/Jquery.js"></script>
<script type="text/javascript" src="/Mobile/js/nsw_mobile.js"></script>

</html>
