<!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产品详细页</title>
<meta name="keywords" content="营销型网站,营销型网站建设,深圳网站建设,牛商网,网站托管,网站建设公司" />
<meta name="description" content="牛商网是深圳营销型网站建设公司,中国营销型网站创始者,营销型网站标准制定者,服务范围营销型网站建设,网站运营托管,网站外包,深圳网站建设等,咨询热线:4000-333-087" />
<link href="/Mobile/css/skins.css"  rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/product.css" rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/common.css" rel="stylesheet" type="text/css">
</head>

<body id="Details_Page">
<!--头部-->

<!--logo-->
<header class="g-hd">
				<div class="m-muen">
					<a href="#"><img src="Images/Common/menu.png"/></a>
				</div>
				<div class="m-logo">
					<a href="#"><img src="Images/Common/logo.png"/></a>
				</div>
				<div class="m-tel">
					<p>全国服务热线：</p>
					<span>400-828-8366 <br>18951138886</span>
				</div>
				
			</header>

<!--返回-->
<div class="g-back">
    <a href="javascript:history.go(-1)" class="u-bp f-fl"></a>
    <a href="/Mobile/MProduct/listnav.html" class="u-bl f-fr"></a>
    <a href="/Mobile/index.html" class="u-bh f-fr"></a>
</div>
<!--搜索-->
<div class="g-se">
	<span class="u-bt"></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>
<!--产品详细页-->
<div class="g-bd">
    <!--产品导航-->
    <h3 class="m-btit"><a href="/Mobile/index.html">首页</a><span></span><a href="#1">情侣手表</a></h3>
    <div class="m-con">
        <!--产品标题-->
        <div class="u-mtit f-tc s-wc">
            <h1>HV1钢带情侣手表</h1>
        </div>
        <!--产品内容-->
        <div class="m-slicon">
            <div class="pro_gd j-slide-np">
                <div class="m-nowra">
                <div class="prev"></div>
                <div class="no_ov">
                    <div class="m-box">
                        <a href="/Mobile/mproducts/mproducts.html"><img src="/Mobile/Images/Web/pro.jpg" width="250" height="250" alt="" title=""></a>
                        <a href="/Mobile/mproducts/mproducts.html"><img src="/Mobile/Images/Web/pro.jpg" width="250" height="250" alt="" title=""></a>
                    </div>
                </div>
                <div class="next"></div>
                </div>
            </div>
        </div>
        <!--产品数据-->
        <div class="contactus">
            <ul class="tb_doc">
                <li><span>产品型号：</span>PT-1300绿韵·高级内墙乳胶漆</li>
                <li><span>规 格：</span>20KG/桶</li>
                <li><span>适用范围：</span>内墙     外墙     墙内</li>
                <li><span>光 泽：</span>哑光/丝光</li>
                <li><span>涂涮面积：</span>8-10㎡/KG/遍   测试换行测试换行测试换行   </li>
            </ul>
        </div>
        <!--联系我们-->
        
        <!--产品简介-->
        <div class="m-abpro">
        	<h2 class="m-tit z-spe s-wc ">产品简介</h2>
            <div class="m-con">
                <P style="text-indent:0;">【表带材料】：橡胶；<br/>
                【表镜材质】：矿物玻璃；<br/>
                【规格】：（小）表盘直径2.5厘米，厚度0.7厘米，表带宽1.1厘米，重约12克；（大）表盘直径4厘米，厚度0.7厘米，表带宽2厘米，重约28克；<br/></P>
                <P>此表小的表盘比较小，请注意看尺寸哦。 大 的其实女生也适合配戴，请按自己喜欢的来选择哦！</P>
            </div>
        </div>
        
        
        <!--产品详情-->
        <div class="m-abpro">
            <h2 class="m-tit z-spe s-wc">产品详情</h2>
            <div class="m-con">
                <p>浪琴手表自1832年在瑞士索伊米亚(Saint-Imier) 创立开始，在全球屡屡突破制表技术而傲视同侪，同时又不失体现其优雅风</p>
                <p>1912年，浪琴手表[1]在世界运动会中缔造了历史性时刻，——率先运用断线原理，于比赛场上的起点与终点分别启动及终止计时装置。</p>
                <P>浪琴手表自此成为多项国际赛事的指定官方计时器，包括多次冬季与夏季奥运会。浪琴手表与航空及航海历史亦结下不解之缘。譬如浪琴手表为飞行家连拔 (Lindbergh) 首次个人横越大西洋计算飞行时间,期后更依照连拔的设计制造了Hour angle 导航腕表 。</P>
                <div class="m-abpic">
                <a href="/Mobile/mproducts/mproducts.html" class="blue"><img src="../Images/Web/pro1.gif" width="237" height="151" alt="" title="">优雅系列</a>
                <a href="/Mobile/mproducts/mproducts.html" class="blue"><img src="../Images/Web/pro2.gif" width="237" height="151" alt="" title="">制表传统</a>
                <a href="/Mobile/mproducts/mproducts.html" class="blue"><img src="../Images/Web/pro3.gif" width="237" height="151" alt="" title="">运动系列</a>
                <a href="/Mobile/mproducts/mproducts.html" class="blue"><img src="../Images/Web/pro4.gif" width="237" height="151" alt="" title="">经典复古系列</a>
                </div>
            <div class="clear"></div>
            </div>
        </div>
        
        <!--24小时咨询热线-->
        <p class="s-wc u-hotline">24小时咨询热线：4000-333-087</p>
        
        <!--等待载入-->
        <div class="tc u-lico">
        <img src="../Images/Web/loading.gif">
    </div>
    
    <!--分页-->
    <div class="g-page f-tc">
                <a class="u-pup" href="javascript:void(0)">上一页</a>
                <a class="u-sa" href="javascript:void(0)">余下全文</a>
                <p><span class="u-pnum">1</span>/5</p>
                <a class="u-pne" href="#">下一页</a>
            </div>
    <!--分享-->
    <div class="m-share">
                <div class="m-ico">
                    <span>分享到：</span>
                    <a class="u-ico-1"></a>
                    <a class="u-ico-2"></a>
                    <a class="u-ico-3"></a>
                    <a class="u-ico-4"></a>
                    <a class="u-ico-5"></a>
                    <div class="clear"></div>
                </div>
                
            </div>
    
    <!--留言-->
    <div>
        <h2 class="m-tit s-wc z-spe"><span class="u-ico"></span>我要下单</h2>
        <ul class="leave">
            <li>
                <span>姓名</span><div class="input_wrap"><input class="name clear_word" type="text" value="请输入姓名" name=""></div>
            </li>
            <li>
                <span>手机</span><div class="input_wrap"><input class="name clear_word" type="text" value="请输入手机号" name=""></div>
            </li>
            <li>
                <span>留言</span><div class="input_wrap"><textarea name="" cols="" rows="" class="ly clear_word">请输入留言</textarea></div>
            </li>
        </ul>
        <p class="show_more2"><input class="u-co-bt fr" type="button" value="提 交" name=""></p>
    </div>
    <!--推荐产品-->
    <div class="m-rec j-slide-np">
                <a href="#1" class="s-wc"><h2 class="m-tit z-spe">关于<strong class="xg">"手机"</strong>的相关产品</h2></a>
                <div class="m-con">
                    <div class="prev"></div>
                    <div class="m-nowr">
                        <div class="m-box">
                            <p>
                        <a href="/Mobile/mproducts/mproducts.html"><img src="../Images/web/pro1.gif" width="130" alt="" title="">全自动机械表</a>
                        <a href="/Mobile/mproducts/mproducts.html"><img src="../Images/web/pro2.gif" width="130" alt="" title="">黄金双色表</a>
                    </p>
                            <p>
                        <a href="/Mobile/mproducts/mproducts.html"><img src="../Images/web/pro1.gif" width="130" alt="" title="">全自动机械表</a>
                        <a href="/Mobile/mproducts/mproducts.html"><img src="../Images/web/pro2.gif" width="130" alt="" title="">黄金双色表</a>
                            </p>
                        </div>
                    </div>
                    <div class="next"></div>
                </div>
            </div>
    
    
    <!--热点推荐-->
    <div class="m-about">
                <h2 class="m-tit z-spe s-wc">热点推荐</h2>
                <p class="list">
                    <a href="#" class="first" >特色双时区腕表推荐 </a>
                    <a href="#" >欧镭参与北京手表企业峰会 </a>
                    <a href="#" >手表进水这么办？ </a>
                    <a href="#" >如何进行手表维修？ </a>
                    <a href="#" >欧镭手表设计或新浪推荐  </a>
                    <a href="#" >手表进水这么办？ </a>
                </p>
            </div>
    <!--网友热评-->
    <div class="m-com">
                <h2 class="m-tit z-spe s-wc">网友热评</h2>
                <div class="u-idet"><textarea name=""  value="还可以输入140个字" class="clear_word">还可以输入140个字</textarea></div>
                <div class="u-btn">
                    <input class="z-mg u-co-bt" type="button" value="我要评论" name="">
                </div>
                <div class="u-relay">
                    <dl>
                        <dt class="relay_time"><span>周凯</span> 于<em>2013-3-25 14:25:12</em>说道：</dt>
                        <dd>
                            <p class="re_fir">希望中国的品牌能符合国情，千万别太贵哟，不然出现太多的仿品就砸牌子了</p>
                            <p class="re_sec"><span class="tit">管理员回复：</span>我们的是正品哦！</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="relay_time"><span>周凯</span> 于<em>2013-3-25 14:25:12</em>说道：</dt>
                        <dd>
                            <p class="re_fir">希望中国的品牌能符合国情，千万别太贵哟，不然出现太多的仿品就砸牌子了</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="relay_time"><span>周凯</span> 于<em>2013-3-25 14:25:12</em>说道：</dt>
                        <dd>
                            <p class="re_fir">希望中国的品牌能符合国情，千万别太贵哟，不然出现太多的仿品就砸牌子了</p>
                        </dd>
                    </dl>
                <p class="show_more"><a href="#1" class="s-wc">评论(200条)</a><input class="u-co-bt f-fr" type="button" value="全部评论" name=""></p>
            </div>
            </div>
    
    <div class="clear"></div>
    <!--搜索-->
    <div class="g-se">
	<span class="u-bt"></span>
<input type="button" class="u-in">
            <div class="m-ipt">
                <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<!--底部开始-->
<footer class="g-ft m-bg">
			
				<div class="f-dz">					
					<p><span>高端商务房车改装定制工厂</span>打造商务人士移动办公专属座驾</p>					
					<div class="code"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/code.jpg" alt="" /><em>公众号二维码</em></div>
				</div>
				
				<div class="g_fnva f_cb">
					<div class="f_bj">
						<ul class="m-f01 f_cb">
							<li>
								<a href="tel:400-8888-888"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_01.png" alt="" /><span>免费电话</span></a>
							</li>
							<li>
								<a href="#"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_02.png" alt="" /><span>在线咨询</span></a>
							</li>
							<li>
								<a href="#"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_03.png" alt="" /><span>车型分类</span></a>
							</li>
							<li>
								<a href="#"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_04.png" alt="" /><span>一键导航</span></a>
							</li>
						</ul>
					</div>
				</div>
			</footer>

</body>
<script type="text/javascript" src="/Mobile/js/Jquery.js"></script>
<script type="text/javascript" src="/Mobile/js/nsw_mobile.js"></script>
</html>
