   <!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产品详细页</title>
<meta name="keywords" content="营销型网站,营销型网站建设,深圳网站建设,牛商网,网站托管,网站建设公司" />
<meta name="description" content="牛商网是深圳营销型网站建设公司,中国营销型网站创始者,营销型网站标准制定者,服务范围营销型网站建设,网站运营托管,网站外包,深圳网站建设等,咨询热线:4000-333-087" />
<link href="/Mobile/css/skins.css"  rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/product.css" rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/common.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--头部-->

<!--logo-->
<header class="g-hd">
				<div class="m-muen">
					<a href="#"><img src="Images/Common/menu.png"/></a>
				</div>
				<div class="m-logo">
					<a href="#"><img src="Images/Common/logo.png"/></a>
				</div>
				<div class="m-tel">
					<p>全国服务热线：</p>
					<span>400-828-8366 <br>18951138886</span>
				</div>
				
			</header>

<!--返回-->
<div class="g-back">
    <a href="javascript:history.go(-1)" class="u-bp f-fl"></a>
    <a href="/Mobile/MProduct/listnav.html" class="u-bl f-fr"></a>
    <a href="/Mobile/index.html" class="u-bh f-fr"></a>
</div>
<!--搜索-->
<div class="g-se">
	<span class="u-bt"></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>
<!--产品详细页-->
<div class="g-bd">
  
    <div class="g-sbox">
    <ul class="m-cnt m-cnt2">
        <li id="aId0" onclick="tab('divId','aId',0,3,'z-on',0)">产品简介</li>
        <li id="aId1" onclick="tab('divId','aId',1,3,'z-on',1)">用户评论(10)</li>
        <li id="aId2" onclick="tab('divId','aId',2,3,'z-on',2)">我要下单</li>
    </ul>
    <div class="m-box tab-box">
    <div class="m-con m-con-5" id="divId0">
        <p>PRE-TEX庄典3D原生态墙面漆采用特殊除味和去除有害物质技术，有效降低漆液中的残余气味，同时具备超低种金属，超低甲醛三大健康性能，</p>
        <p>为居室创造原生态的居家空间，产品还保留庄典漆一贯的卓越装饰效果，将环保与装饰性能完美结合。</p>
        <p><img src="/mobile/Images/web/pro5.jpg" width="294" height="188"><br/>
        <i class="s-wc protit">家装涂料墙面漆</i>
        </p>
          <!--分页-->
          <div class="g-page g-page2 f-tc">
                <a class="u-pup" href="javascript:void(0)">上一页</a>
                <i>1/18</i>
                <a class="u-pne" href="#">下一页</a>
            </div>   
    </div>
    <div class="m-con" id="divId1">
        <div class="u-relay">
                    <dl>
                        <dt class="relay_time"><span>周凯</span> 于<em>2013-3-25 14:25:12</em>说道：</dt>
                        <dd>
                            <p class="re_fir">希望中国的品牌能符合国情，千万别太贵哟，不然出现太多的仿品就砸牌子了</p>
                            <p class="re_sec"><span class="tit">管理员回复：</span>我们的是正品哦！</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="relay_time"><span>周凯</span> 于<em>2013-3-25 14:25:12</em>说道：</dt>
                        <dd>
                            <p class="re_fir">希望中国的品牌能符合国情，千万别太贵哟，不然出现太多的仿品就砸牌子了</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="relay_time"><span>周凯</span> 于<em>2013-3-25 14:25:12</em>说道：</dt>
                        <dd>
                            <p class="re_fir">希望中国的品牌能符合国情，千万别太贵哟，不然出现太多的仿品就砸牌子了</p>
                        </dd>
                    </dl>
            </div>
    </div>
    <div class="m-con" id="divId2">
        <div class="m-abpro1 ">
               <div class="m-con">
                <h5 class="xgmm">姓名：</h5>
                <p><input class="u-inna name clear_word" type="text" name="" value="请输入姓名"></p>
                <h5 class="xgmm">手机：</h5>
                <p><input class="u-inna name clear_word" type="text" name="" value="请输入手机"></p>
                <h5>留言：</h5>
                <p><textarea class="ly u-inna clear_word" rows="" cols="" name="">还可以输入140个字</textarea></p>
                <p class="show_more"><input type="button" class="u-co-bt" value="提 交" name=""></p>
                </div>
       </div>
    </div>
    </div>
</div>
    
</div>

<!--底部开始-->
<footer class="g-ft m-bg">
			
				<div class="f-dz">					
					<p><span>高端商务房车改装定制工厂</span>打造商务人士移动办公专属座驾</p>					
					<div class="code"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/code.jpg" alt="" /><em>公众号二维码</em></div>
				</div>
				
				<div class="g_fnva f_cb">
					<div class="f_bj">
						<ul class="m-f01 f_cb">
							<li>
								<a href="tel:400-8888-888"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_01.png" alt="" /><span>免费电话</span></a>
							</li>
							<li>
								<a href="#"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_02.png" alt="" /><span>在线咨询</span></a>
							</li>
							<li>
								<a href="#"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_03.png" alt="" /><span>车型分类</span></a>
							</li>
							<li>
								<a href="#"><img src="/Mobile/Images/web/grey.gif" data-src="Images/Common/ico_04.png" alt="" /><span>一键导航</span></a>
							</li>
						</ul>
					</div>
				</div>
			</footer>
</body>
<script type="text/javascript" src="/Mobile/js/Jquery.js"></script>
<script type="text/javascript" src="/Mobile/js/nsw_mobile.js"></script>
</html>
