<!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻列表页--1</title>
<link href="/Mobile/css/skins.css"  rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/newslist.css" rel="stylesheet" type="text/css" />
<link href="/Mobile/Css/common.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--头部-->

<!--logo-->
<header class="g_hd f_cb">
       
        <a href="/Mobile/index.html" name="logo" class="m-logo f_fl">
            <img src="/Mobile/Images/web/grey.gif" data-src="/Mobile/Images/Common/logo.jpg"  alt="" title=""/>
        </a>
        <div class="m-tel f_fr">
         <p class="u-text"><img src="/Mobile/Images/web/grey.gif" data-src="/Mobile/Images/Common/logowz.jpg"  alt="" title=""/></p>
         <p class="u_text1">十年专注车充定制研发</p>
        </div>
    </header>

<!--返回-->
<div class="g-back">
    <a href="javascript:history.go(-1)" class="u-bp f-fl"></a>
    <a href="/Mobile/MProduct/listnav.html" class="u-bl f-fr"></a>
    <a href="/Mobile/index.html" class="u-bh f-fr"></a>
</div>

<!--搜索-->
<div class="g-se">
	<span class="u-bt"></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>

<!--产品列表-->
<div class="g-bd">
	<h3 class="m-btit"><a href="/Mobile/index.html">首页</a><span></span>手表资讯</h3>
    <div class="m-con-1 m-prol">
        <a href="/Mobile/MArticles/marticles.html"><img src="../Images/Index/news1.jpg" width="130" height="130" alt="" title="">XX商务会谈</a>
        <a href="/Mobile/MArticles/marticles.html"><img src="../Images/Index/news2.jpg" width="130" height="130" alt="" title="">XX商务会谈</a>
        <a href="/Mobile/MArticles/marticles.html"><img src="../Images/Index/news3.jpg" width="130" height="130" alt="" title="">XXXX商务会谈</a>
        <a href="/Mobile/MArticles/marticles.html"><img src="../Images/Index/news1.jpg" width="130" height="130" alt="" title="">XX商务会谈</a>
        <a href="/Mobile/MArticles/marticles.html"><img src="../Images/Index/news2.jpg" width="130" height="130" alt="" title="">XX商务会谈</a>
        <a href="/Mobile/MArticles/marticles.html"><img src="../Images/Index/news3.jpg" width="130" height="130" alt="" title="">XX商务会谈</a>
        <a href="/Mobile/MArticles/marticles.html"><img src="../Images/Index/news1.jpg" width="130" height="130" alt="" title="">XX商务会谈</a>
        <a href="/Mobile/MArticles/marticles.html"><img src="../Images/Index/news2.jpg" width="130" height="130" alt="" title="">XX商务会谈</a>
        <div class="clear"></div>
    </div>
</div>

<!--分页-->
<div class="g-page f-tc">
<a class="u-pup" href="javascript:void(0)">上一页</a>
<p><span class="u-pnum">1</span>/5</p>
<a class="u-pne" href="#">下一页</a>
</div>

<!--搜索-->
<div class="g-se">
	<span class="u-bt"></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>

<!--底部开始-->
<footer class="g-ft m-bg">
      <a href="#logo"><div class="u-top "><img src="/Mobile/Images/web/grey.gif" data-src="/Mobile/Images/common/up.jpg" alt="" /></div></a>
      <p class="add">深圳市首诺信电子有限公司</p>
      <p class="m_code"><b><img src="/Mobile/Images/web/grey.gif" data-src="/Mobile/Images/common/code.jpg" alt="" /></b><em>关注微信公众号</em></p>

     <div class="g_fnva f_cb">
       <div class="f_bj">
         <ul class="m-f01 f_cb">
             <li>
             <a href="tel:400-8888-888"><em><img src="/Mobile/Images/Common/f_01.gif" alt=""></em>电话咨询</a></li>
             <li>
             <a href="#"><em><img src="/Mobile/Images/Common/f_02.jpg" alt=""></em>产品中心</a>
             </li>   
             <li>
             <a href="#"><em><img src="/Mobile/Images/Common/f_03.jpg" alt=""></em>网站地图</a>
             </li>   
             <li>
             <a href="#"><em><img src="/Mobile/Images/Common/f_04.jpg" alt=""></em>返回首页</a>
             </li>
         </ul>
       </div> 
     </div>
</footer>

</div>
<!--底部社交栏-->


</body>
<script type="text/javascript" src="/Mobile/js/Jquery.js"></script>
<script type="text/javascript" src="/Mobile/js/nsw_mobile.js"></script>
</html>
