<!DOCTYPE HTML>
<html>

	<head>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" name="viewport" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="css/common.css" rel="stylesheet" type="text/css" />
		<link href="css/index.css" rel="stylesheet" type="text/css" />
		<link href="css/swiper.css" rel="stylesheet" type="text/css" />

	</head>
	<!-- <script type="text/javascript"> function a(){ alert(document.body.clientWidth);}</script>-->

	<body>
		<!-- <img src="index.jpg" style="position:absolute; width: 640px; left:50%; margin-left:324px; z-index:99" /> -->
		
		<div class="wrap">
			<header class="g-hd">
				<div class="m-logo">
					<a href="#"><img src="../Images/Common/logo.jpg"/></a>
				</div>
				<div class="m-title">				
					<h1>专注亚克力展示道具匠心定制工厂<span>让亚克力来呈现产品的美与价值</span></h1>
				</div>
			</header>
			
			<section class="g-bd">
				
				<div class="g-adv j-slide-auto banner">
					<ul class="m-box">
						<li>
							<a href="#1"><img src="Images/web/grey.gif" data-src="Images/Index/banner.jpg" alt="" /></a>
						</li>
						<li>
							<a href="#1"><img src="Images/web/grey.gif" data-src="Images/Index/banner.jpg" alt="" /></a>
						</li>
						<li>
							<a href="#1"><img src="Images/web/grey.gif" data-src="Images/Index/banner.jpg" alt="" /></a>
						</li>
					</ul>
					<div class="clear"></div>
					<ul class="m-cnt">
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>

				<nav>
					<a href="#">化妆品.珠宝展架</a>
					<a href="#">消费电子类展架</a>
					<a href="#">商超展示架定制</a>
					<a href="#">新品设计开发</a>
					<a href="#">定制案例</a>
					<a href="#">关于森涛</a>
				</nav>

				<div class="fw">
					<div class="m-bt"><h2><a href="#">结缘森涛·为您提供无忧尊享服务</a><span>service</span></h2></div>
					<div class="fw-inner">
						<ul>
							<li><img src="Images/web/grey.gif" data-src="Images/Index/fw_img1.jpg" alt="" /><span>来图来样</span><strong>按需定制</strong><p>完全按照您要求进行<br>设计定制生产</p></li>
							<li><img src="Images/web/grey.gif" data-src="Images/Index/fw_img2.jpg" alt="" /><span>来图来样</span><strong>优化定制</strong><p>免费对您的设计方案<br>优化后再定制生产</p></li>
							<li><img src="Images/web/grey.gif" data-src="Images/Index/fw_img3.jpg" alt="" /><span>样品库</span><strong>选样定制</strong><p>2万多款样品库中<br>直接选样生产，简单快捷</p></li>
							<li><img src="Images/web/grey.gif" data-src="Images/Index/fw_img4.jpg" alt="" /><span>为您专属设计</span><strong>创意定制</strong><p>没有设计方案，不用操心<br>30个研发设计为您搞定</p></li>
						</ul>
					</div>
				</div>

				<div class="sx">
					<div class="m-bt"><h2><a href="#">3免·5快 —— 就是省心</a></h2></div>
					<div class="sx-inner">
						<ul>
							<li><img src="Images/web/grey.gif" data-src="Images/Index/sx_ico1.png" alt="" /><p><b>免费</b>设计开发</p></li>
							<li><img src="Images/web/grey.gif" data-src="Images/Index/sx_ico2.png" alt="" /><p><b>免费</b>出效果图</p></li>
							<li><img src="Images/web/grey.gif" data-src="Images/Index/sx_ico3.png" alt="" /><p><b>免费</b>产品打样</p></li>
						</ul>
					</div>

					<div class="j-slide-not sx-cont">					
						<div class="m-box">
							<div class="con">
								<ul>
									<li><a href="#"><img src="Images/Index/sx_img1.jpg"/><span>响应快</span><p>1对1专项跟进</p></a></li>
									<li><a href="#"><img src="Images/Index/sx_img2.jpg"/><span>出图快</span><p>1对1专项跟进</p></a></li>
									<li><a href="#"><img src="Images/Index/sx_img3.jpg"/><span>打样快</span><p>1对1专项跟进</p></a></li>		
								</ul>
							</div>
							<div class="con">
								<ul>
									<li><a href="#"><img src="Images/Index/sx_img1.jpg"/><span>响应快</span><p>1对1专项跟进</p></a></li>
									<li><a href="#"><img src="Images/Index/sx_img2.jpg"/><span>出图快</span><p>1对1专项跟进</p></a></li>
									<li><a href="#"><img src="Images/Index/sx_img3.jpg"/><span>打样快</span><p>1对1专项跟进</p></a></li>		
								</ul>
							</div>
						</div>
						<div class="clear"></div>
						<ul class="m-cnt sx-ul">
							<li></li>
							<li></li>
						</ul>					
					</div>
				</div>

				<div class="pro">
					<div class="m-bt"><h2><a href="#">亚克力制品·定制类别</a><span>products</span><p>2万多款样品定制经验，定能满足您的行业定制需求</p></h2></div>
					<div class="pro-inner">
						<dl>
							<dt><span>化妆品、珠宝展示道具</span> <a href="#">More+</a></dt>
							<dd>
								<ol>
									<li><a href="#">彩妆</a></li>
									<li><a href="#">洗护</a></li>
									<li><a href="#">珠宝</a></li>
									<li><a href="#">化妆品收纳</a></li>
								</ol>
							</dd>
						</dl>
						<dl>
							<dt><span>消费类电子展示道具</span> <a href="#">More+</a></dt>
							<dd>
								<ol>
									<li><a href="#">手机及手机配件</a></li>
									<li><a href="#">电子烟</a></li>
									<li><a href="#">音响音箱</a></li>
									<li><a href="#">手表</a></li>
								</ol>
							</dd>
						</dl>
						<dl>
							<dt><span>商超类展示道具</span> <a href="#">More+</a></dt>
							<dd>
								<ol>
									<li><a href="#">眼镜</a></li>
									<li><a href="#">工艺品</a></li>
									<li><a href="#">食品</a></li>
									<li><a href="#">服装</a></li>
									<li><a href="#">百货用品</a></li>
								</ol>
							</dd>
						</dl>
					</div>
					<div class="pro-img">
						<ul>
							<li><a href="#"><img src="Images/web/grey.gif" data-src="Images/Index/pro_img1.jpg" alt="" /><p>亚克力防水手机展示架</p></a></li>
							<li><a href="#"><img src="Images/web/grey.gif" data-src="Images/Index/pro_img2.jpg" alt="" /><p>亚克力机器人展示架</p></a></li>
							<li><a href="#"><img src="Images/web/grey.gif" data-src="Images/Index/pro_img3.jpg" alt="" /><p>亚克力耳机展示架</p></a></li>
							<li><a href="#"><img src="Images/web/grey.gif" data-src="Images/Index/pro_img4.jpg" alt="" /><p>化妆品试用装展示架</p></a></li>
						</ul>
						<div class="more"><a href="#">查看更多产品>></a></div>
					</div>
				</div>

				<div class="case">
					<div class="m-bt"><h2><a href="#">我们的 · 定制案例</a><span>our case</span><p>15年服务2000+客户，累计量产1亿件以上亚克力制品</p></h2></div>
					<div class="j-slide-not case-cont">
						<ul class="m-cnt case-ul">
							<li id="clickMe">消费类电子行业</li>
							<li>化妆品行业</li>
							<li>珠宝饰品行业</li>
							<li>商场-超市货架</li>
							<li>其他行业</li>
						</ul>
						<div class="clear"></div>
						<div class="m-box">
							<div class="con">
								<ul>
									<li><a href="#"><img src="Images/Index/case_img1.jpg"/><p>亚克力化妆毛刷架眉笔架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img2.jpg"/><p>亚克力唇釉口红展示架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img3.jpg"/><p>亚克力香烟示架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img4.jpg"/><p>亚克力收银柜台透明隔板定制</p></a></li>
								</ul>
							</div>
							<div class="con">
								<ul>
									<li><a href="#"><img src="Images/Index/case_img1.jpg"/><p>亚克力化妆毛刷架眉笔架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img2.jpg"/><p>亚克力唇釉口红展示架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img3.jpg"/><p>亚克力香烟示架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img4.jpg"/><p>亚克力收银柜台透明隔板定制</p></a></li>
								</ul>
							</div>
							<div class="con">
								<ul>
									<li><a href="#"><img src="Images/Index/case_img1.jpg"/><p>亚克力化妆毛刷架眉笔架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img2.jpg"/><p>亚克力唇釉口红展示架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img3.jpg"/><p>亚克力香烟示架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img4.jpg"/><p>亚克力收银柜台透明隔板定制</p></a></li>
								</ul>
							</div>
							<div class="con">
								<ul>
									<li><a href="#"><img src="Images/Index/case_img1.jpg"/><p>亚克力化妆毛刷架眉笔架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img2.jpg"/><p>亚克力唇釉口红展示架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img3.jpg"/><p>亚克力香烟示架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img4.jpg"/><p>亚克力收银柜台透明隔板定制</p></a></li>
								</ul>
							</div>
							<div class="con">
								<ul>
									<li><a href="#"><img src="Images/Index/case_img1.jpg"/><p>亚克力化妆毛刷架眉笔架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img2.jpg"/><p>亚克力唇釉口红展示架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img3.jpg"/><p>亚克力香烟示架定制</p></a></li>
									<li><a href="#"><img src="Images/Index/case_img4.jpg"/><p>亚克力收银柜台透明隔板定制</p></a></li>
								</ul>
							</div>						
						</div>

						<div class="more"><a href="#">查看更多产品>></a></div>

					</div>
				</div>

				<div class="pz">
					<div class="m-bt"><h2><a href="#">产品工艺与品质</a><span>Craft quality</span><p>森涛高标准定制防摔抗碎、 时尚环保、 轻便百变的亚克力精品</p></h2></div>
					<div class="pz-cont">
						<div class="pz-list">
							<ul>
								<li class="li1"><h4>开料工艺</h4><span>01</span></li>
								<li class="li2"><h4>雕刻工艺</h4><span>02</span></li>
								<li class="li3"><h4>丝印工艺</h4><span>03</span></li>
								<li class="li4"><h4>组装工艺</h4><span>04</span></li>
								<li class="li5"><h4>包装工艺</h4><span>04</span></li>							
							</ul>
						</div>
						<div class="swiper-cont">
							<div class="swiper-box" style="display: block;">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
									</div>
									<!-- Add Pagination -->
									<div class="swiper-pagination"></div>
							  </div>
							</div>
							<div class="swiper-box">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
									</div>
									<!-- Add Pagination -->
									<div class="swiper-pagination"></div>
							  </div>
							</div>
							<div class="swiper-box">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
									</div>
									<!-- Add Pagination -->
									<div class="swiper-pagination"></div>
							  </div>
							</div>
							<div class="swiper-box">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
									</div>
									<!-- Add Pagination -->
									<div class="swiper-pagination"></div>
							  </div>
							</div>
							<div class="swiper-box">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
										<div class="swiper-slide">
											<div class="pz-box"><a href="#"><img src="Images/Index/pz_img1.jpg" alt="" /> <p>开料</p></a></div>
										</div>
									</div>
									<!-- Add Pagination -->
									<div class="swiper-pagination"></div>
							  </div>
							</div>
						</div>

						<div class="pz-list-data">
							<ul>
								<li><img src="Images/Index/pz_imgs1.jpg" alt="" /><h4>全新进口板材</h4><p>产品均采用全新进口材料，绝不使用回收料</p></li>
								<li><img src="Images/Index/pz_imgs2.jpg" alt="" /><h4>品质控制管理</h4><p>对次品坚决说不，按半成品QC+成品QC+QA抽检来严格控制出品品质，优良品率达≥99.6%</p></li>
								<li><img src="Images/Index/pz_imgs3.jpg" alt="" /><h4>物流闪电发货</h4><p>产品均采用全新进口材料，绝不使用回收料</p></li>
								<li><img src="Images/Index/pz_imgs4.jpg" alt="" /><h4>第三方权威认证</h4><p>对次品坚决说不，按半成品QC+成品QC+QA抽检来严格控制出品品质，优良品率达≥99.6%</p></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="about">
					<div class="m-bt"><h2><a href="#">森涛·印象</a><span>ABOUT</span><p>我们有实力承载您的托付</p></h2></div>
					<div class="about-cont">
						<dl>
							<dt><a href="#"><img src="Images/Index/about_img.jpg"/></a></dt>
							<dd><p>深圳市森涛亚克力制品有限公司成立于2017年，是天雅智能科技有限公司的子公司，专业制作亚克力15周年，位于中国深圳龙岗，是一家集设计、研发、生产、批发于一体的亚克力制品，展示道具的企业......<a href="#">【查看详情】</a></p></dd>
						</dl>
						<div class="about-txt">值得您信赖的亚克力制品生产厂家</div>
						<ul class="about-ul">
							<li><span><b>22</b>年</span><p>亚克力制品行业经验</p></li>
							<li><span><b>5000</b>㎡</span><p>2个生产制作基地</p></li>
							<li><span><b>150</b>人</span><p>熟手生产定制技工</p></li>
							<li><span><b>100</b>台</span><p>亚克力制品行业经验</p></li>
							<li><span><b>5000</b>万</span><p>年产值规模能力</p></li>
							<li><span><b>20000</b>人</span><p>样品定制经验积累</p></li>
						</ul>
					</div>
				</div>

				<!--news-->
				<div class="news">
					<div class="m-bt"><h2><a href="#">森涛亚克力·资讯中心</a><span>news</span><p>创新设计，提供行业优质亚克力产品</p></h2></div>
					<div class="news-inner">	
						<dl>
							<dt><h4><a href="#">亚克力发光字的特别之处</a></h4><p>2020-08-31</p></dt>
							<dd><a href="#"><img src="Images/Index/news_img1.jpg"/></a></dd>
						</dl>		
						<dl>
							<dt><h4><a href="#">亚克力制品生产厂家必备的加工设备有哪些？</a></h4><p>2020-08-31</p></dt>
							<dd><a href="#"><img src="Images/Index/news_img2.jpg"/></a></dd>
						</dl>	
						<dl>
							<dt><h4><a href="#">亚克力厂家在加工展示架如何保证高质量？</a></h4><p>2020-08-31</p></dt>
							<dd><a href="#"><img src="Images/Index/news_img3.jpg"/></a></dd>
						</dl>		
					</div>	
					<div class="more"><a href="#">查看更多产品>></a></div>
				</div>	
				
			</section>
			<footer class="g-ft m-bg">
				<div class="top"><a href="#"><img src="Images/Common/top.png" alt="" />返回顶部</a></div>
				<div class="f-dz">	
					<span><a href="#">联系我们</a>|<a href="#">关于我们</a>|<a href="#">网站地图</a> </span>	
					<p>深圳市森涛亚克力制品有限公司    版权所有</p>
				</div>
				<div class="g_fnva f_cb">
					<div class="f_bj">
						<ul class="m-f01 f_cb">
							<li>
								<a href="tel:400-8888-888"><img src="Images/Common/f_ico1.png" alt="" /><span>电话咨询</span></a>
							</li>
							<li>
								<a href="#"><img src="Images/Common/f_ico2.png" alt="" /><span>产品中心</span></a>
							</li>
							<li>
								<a href="#"><img src="Images/Common/f_ico3.png" alt="" /><span>荣誉资质</span></a>
							</li>
							<li>
								<a href="#"><img src="Images/Common/f_ico4.png" alt="" /><span>森涛首页</span></a>
							</li>
						</ul>
					</div>
				</div>
			</footer>
		</div>

		<script type="text/javascript" src="js/Jquery.js"></script>
		<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/nsw_mobile.js"></script>
		<script type="text/javascript" src="js/swiper.min.js"></script>
		<script type="text/javascript">
		$(function(){

			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				paginationClickable: true,
				observer:true,
				observerParents:true
			});
			$(".pz-list ul li:first-child").addClass("active");
			
			$(".pz-list ul li").click(function(){
           		$(this).addClass("active").siblings().removeClass("active");
				let index = $(this).index();
				$(".swiper-cont .swiper-box").hide().eq(index).show();
				var swiper = new Swiper('.swiper-container', {
					pagination: '.swiper-pagination',
					paginationClickable: true,
				});
			})

		})
 
		</script>
	</body>

</html>
