<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!--编码-->
    <meta charset="utf-8">
    <!--如果是IE浏览器，就自动调用最新的渲染方式-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--移动端视口的设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link href="__HOME__img/other/title.ico" rel="shortcut icon">
    <title>云果达</title>

    <link rel="stylesheet" href="__HOME__css/base.css">
    <!--<link rel="stylesheet" href="css/swiper-3.4.2.min.css">-->
    <link rel="stylesheet" href="__HOME__css/index.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries 因为在IE8及以下是不支持H5 C3 和 响应式，所以需要引入两个文件，让其支持-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// 响应式的功能不能使用file://的查看，而需要使用http://  https://-->
    <!--[if lt IE 9]>
    <script src="__HOME__lib/html5shiv/html5shiv.min.js"></script>
    <script src="__HOME__lib/respond/respond.js"></script>

    <![endif]-->

</head>
<body>
<!--导航、banner-->
<div class="to_top">
    <a href="#"><img src="__HOME__img/other/to_top.jpg" alt=""/></a>
</div>
<div class="info rela">
    <div class="nav-nav ab">
        <div class="w cl rela">
            <div class="fl logo">
                <a href="{:U('index')}">
                    <img src="__HOME__/img/header/LOGO.jpg" alt="">
                </a>
            </div>
            <div class="fr">
                <ul>
                    <li>
                        <a href="{:U('index')}">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>
                    </li>
                    <li  >
                        <a href="{:U('ygdinfo')}">公司简介</a>
                    </li>
                    <li class="active">
                        <a href="{:U('intro_product')}">产品介绍</a>
                    </li>
                    <li>
                        <a href="{:U('joinus')}">我要加盟</a>
                    </li>
                    <li>
                        <a href="{:U('news')}">新闻资讯</a>
                    </li>
                    <li>
                        <a href="{:U('recruit')}">招贤纳士</a>
                    </li>
                    <li>
                        <a href="{:U('contact_us')}">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="app ab">
                <a href="mailto:customer@vsea.com.cn"><img src="__HOME__img/header/button-e-mail-hover.jpg" class="app-l" alt=""></a>
                <a href="{:U('intro_product')}#aa"><img src="__HOME__img/header/button-app-download-hover.jpg" class="app-r" alt=""></a>
            </div>
        </div>
    </div>
    <div class="nav-banner rela">
        <img src="__HOME__img/banner/pro_banner.jpg" alt=""/>
        <div class="pro_phone ab">
            <img src="__HOME__img/banner/apple.jpg" alt="">
        </div>

    </div>
</div>

<!--我们的产品-->
<div class="our_product ">
    <div class="product_text">
        <p>我们的产品</p>
        <span></span>
        <p>PRODUCT</p>
        <P>我们拥有顶尖的产品、策划、设计、技术、运营等团队</P>
        <p>我们本着团结互助、积极向上、攻坚克难的工作态度</p>
        <p>只为我们的客户和商家打造最安全、稳定、易用的产品及服务</p>
        <p>目前我们的产品有</p>
        <p>云果达App(安卓端/IOS端)、全新的BSM供应链管理系统、云果达官网(PC端)、供应链金融、</p>
        <P>内部BD、物流、仓储等工作app等，更多产品火速研发中!</P>
    </div>
</div>
<!--核心产品-App-->
<div class="pro_app" >
    <a id="aa"></a>
    <div class="app rela" >
        <div class="app_phone ab"><img src="__HOME__img/main/iphon6.jpg" alt=""/></div>
        <div class="code_one ab"><img src="__HOME__img/main/loader-2.jpg" alt=""/><p>安卓端</p></div>
        <div class="code_two ab"><img src="__HOME__img/main/loader-1.jpg" alt=""/><p>IOS端</p></div>
        <div class="ygd_app ab">
            <img src="__HOME__img/main/start.jpg" alt=""/>
            <div class="ygd_app_r">
                <p>核心产品-云果达App</p>
                <span></span>
                <p>v1.0.1</p>
                <p>· 商品详情增加皮重信息</p>
                <p>· 优化用户体验</p>
            </div>
        </div>
    </div>

</div>

<!--底部-->
<div class="foot">
    <div class="foot_top rela">
        <div class="foot_logo text-c">
            <img src="__HOME__img/footer/LOGO.jpg" alt=""/>
        </div>
        <div class="footer_nav">
            <ul class="cl">
                <li >
                    <a href="{:U('index')}">首&nbsp;&nbsp;页</a>
                </li>
                <li >
                    <a href="{:U('ygdinfo')}">公司简介</a>
                </li>
                <li class="current">
                    <a href="{:U('intro_product')}">产品介绍</a>
                </li>
                <li>
                    <a href="{:U('joinus')}">我要加盟</a>
                </li>
                <li>
                    <a href="{:U('news')}">新闻资讯</a>
                </li>
                <li>
                    <a href="{:U('recruit')}">招贤纳士</a>
                </li>
                <li>
                    <a href="{:U('contact_us')}">联系我们</a>
                </li>
            </ul>
        </div>
        <!--<div class="concat w">-->
        <ul class="concat w">
            <li class="email">
                <p><a href="mailto:customer@vsea.com.cn">customer@vsea.com.cn</a></p>
                <p class="phone">400-1515-771</p>
                <p class="company">深圳市云果达供应链有限公司</p>
                <p>水果行业最值得信赖的供应链服务商</p>
            </li>
            <li>
                <a href="###" class="code_ios">
                    <div><img src="__HOME__img/footer/IOS-erweima.jpg" alt=""/></div>
                    <p>云果达app(IOS版) </p>
                </a>
            </li>
            <li>
                <a href="###" class="code_az">
                    <div><img src="__HOME__img/footer/anzhuo-erweima.jpg" alt=""/></div>
                    <p>云果达app(安卓版) </p>
                </a>
            </li>

        </ul>


    </div>
    <div class="foot_bottom">
        ©2015-2017&nbsp;云果达&nbsp;版权所有&nbsp;粤ICP备17114601号
    </div>
</div>
<script src="__HOME__js/jquery-1.10.1.min.js"></script>
<script>

    $(".nav ul li").on('click',function () {
        $(this).addClass('active').siblings('li').removeClass('active');
    });

    $(".footer_nav ul li").on('click',function () {
        $(this).addClass('current').siblings('li').removeClass('current');
    });

</script>
</body>
</html>