<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!--编码-->
    <meta charset="utf-8">
    <!--如果是IE浏览器，就自动调用最新的渲染方式-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--移动端视口的设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link href="__HOME__img/other/title.ico" rel="shortcut icon">
    <title>云果达</title>

    <link rel="stylesheet" href="__HOME__css/base.css">
    <!--<link rel="stylesheet" href="css/swiper-3.4.2.min.css">-->
    <link rel="stylesheet" href="__HOME__css/index.css">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries 因为在IE8及以下是不支持H5 C3 和 响应式，所以需要引入两个文件，让其支持-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// 响应式的功能不能使用file://的查看，而需要使用http://  https://-->
    <!--[if lt IE 9]>
    <script src="__HOME__lib/html5shiv/html5shiv.min.js"></script>
    <script src="__HOME__lib/respond/respond.js"></script>

    <![endif]-->

</head>
<body>
<!--导航、banner-->
<div class="to_top">
    <a href="#"><img src="__HOME__img/other/to_top.jpg" alt=""/></a>
</div>
<div class="info rela">
    <div class="nav-nav ab">
        <div class="w cl rela">
            <div class="fl logo">
                <a href="{:U('index')}">
                    <img src="__HOME__img/header/LOGO.jpg" alt="">
                </a>
            </div>
            <div class="fr">
                <ul>
                    <li>
                        <a href="{:U('index')}">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>
                    </li>
                    <li>
                        <a href="{:U('ygdinfo')}">公司简介</a>
                    </li>
                    <li>
                        <a href="{:U('intro_product')}">产品介绍</a>
                    </li>
                    <li>
                        <a href="{:U('joinus')}">我要加盟</a>
                    </li>
                    <li class="active">
                        <a href="{:U('news')}">新闻资讯</a>
                    </li>
                    <li >
                        <a href="{:U('recruit')}">招贤纳士</a>
                    </li>
                    <li>
                        <a href="{:U('contact_us')}">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="app ab">
                <a href="mailto:customer@vsea.com.cn"><img src="__HOME__img/header/button-e-mail-hover.jpg" class="app-l" alt=""></a>
                <a href="{:U('intro_product')}#aa"><img src="__HOME__img/header/button-app-download-hover.jpg" class="app-r" alt=""></a>
            </div>
        </div>
    </div>
    <div class="nav-banner text-c rela">
        <img src="__HOME__img/banner/banner-new1.jpg" alt=""/>
    </div>
</div>
<!--新闻资讯内容-->
<div class="news_content w">
    <h2>水果电商发展得前景展望</h2>
    <p>2017-09-28 13:29</p>
    <p>来源中国苹果产业网</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;我国果业发展空间巨大，拥有近14亿人口的消费市场，其市场空间是其他任何国家都不能相比的。近年来，随着我国水果行业标准的提高，优质水果的产量逐年上升，水果市场已经开始向海外拓展。同时，随着我国互联网的高速发展，我国已成为名副其实的互联网大国，农产品的在线交易发展空间非常广阔，与传统的实体交易市场相比，将农产品放在虚拟的网络平台进行交易，可有效拓展经营渠道、减少流通环节、降低交易成本、减少转移损耗等。</p>
    <br/>
    <br/>

    <p class="jiacu">做水果电商的三点建议</p>
    <p class="jiacu">在宣传水果产品时注重特色建设</p>
    <br/>
    <br/>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;产品的特色就是产品的优势，是宣传产品时可以喊出的口号，是能够使消费者产生购买欲望的关键。以下几种可作为水果商家的参考。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;新鲜特色：如可主打“现摘现发，确保新鲜”，“才下枝头，又上舌头”，“脆甜爽口，营养丰富”等。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;健康特色：如可主打“水果套袋，物理防虫，无毒无害”及生产过程中使用的无害化病虫防治技术等。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;人文特色：如在运城可主打“关老爷家乡长出的水果”，“这个苹果不一般，它来自舜的故乡”，还可以把生产者的故事拿出来分享，用真人真事进行宣传。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;高标准特色：如可主打出口：“特级苹果，出口美国”，“运城油桃。出口澳洲”等。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;品牌特色：高科技示范园、果协及果业大户可结合自身产品特点，对自己的产品进行精致包装，走品牌化发展道路。</p>
    <br/>
    <br/>
    <p class="jiacu">注重包装、分级和贮藏</p>
    <br/>
    <br/>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;应当把市场的需求与水果产品的实际情况有效结合起来，做到产品的差异化，结合自身实际和市场需求来定位中高低端产品，以满足不同顾客的需求。例如有的消费者喜欢小苹果，有的喜欢大苹果，可以将苹果按照60～70、71～80、80以上进行分级包装销售，如果生意好，贸易量大还可以委托果品包装加工企业对产品进行分级包装，同时需要注意的是，对于未能及时出售的果类产品，需要冷藏的一定要及时入库贮藏，确保产品质量新鲜，避免因水果脱水造成产品外观、口感上改变而造成损失。</p>
    <br/>
    <br/>
    <p class="jiacu">注重用户反馈</p>
    <br/>
    <br/>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;电商与传统经销商的区别之一，就是买家（用户）可以对所购买的商品进行评价，这个评价可以被所有人看到，好评率的高低会影响整个店铺的排名，例如现在淘宝首页搜索“宝贝”的默认显示结果为“人气”搜索结果。“人气搜索结果”是综合“卖家信用、好评率、累计本期售出量、30天售出量、宝贝浏览量、收藏人气”等因素来竞排的，而在购物过程中上一个买家的评价很大程度上可能会影响到下一个潜在买家的选择，因此好评对于电商来说至关重要。热情及时的服务，精致的包装，上乘的质量，优惠的价格以及出现问题能够及时解决等，这些都是获得好评的关键条件。
    电商平台门槛低、不管是企业还是个人，均可以进驻电商平台，从而拥有自己的店铺或渠道，这给广大果农果商提供了一种低成本的营销方式，学会一些营销技巧和营销方式可以使商家短时期内拥有丰厚的回报，但唯有好的品质，好的口碑，才是水果电商可持续发展的根本保障。可以预见的是，水果电商在未来的一段时间内还会如火如荼的发展，还有很多的发展机遇和很大的市场空间。</p>
    <br/>
    <br/>
    <p class="jiacu">水果电商B2B应运而生</p>
    <br/>
    <br/>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;对于水果电商各种模式的未来发展趋势，垂直类的水果电商平台，未来在抢占市场容量上是没太大有机会的，而且当大的电商平台真正投入精力去运作市场时，中小型水果垂直电“过去大的电商平台没有做水果运营，是因为他们把更大的精力投入到了更挣钱的业务板块。随着市场对水果产品需求的提升，这些大的电商平台一定会重视在农业板块的布局，因此，将来水果垂直电商的‘日子’会更加艰难。”随着生鲜水果流通模式的不断创新，近两年，水果电商B2B 模式受到了越来越多的关注，尤其是一些投资机构的加入，更是为该模式的沉淀、复制、扩张注入了活力。
    水果店每天都要进货，传统方法是每天凌晨两三点去批发市场进货。由于个体每日进货量有限，所以在交易过程中，水果店在价格方面是没有话语权的。水果电商B2B 模式，正是基于这类“小B”客户群体的需求应运而生。水果电商B2B 模式的运营商，是指通过网络平台，将水果店、餐饮店、社区便利店等终端“小B”的水果采购需求，进行分类汇总，集中到水果主产区、一级批发市场进行采购，并在规定时间内为终端“小B”完成配货目标的水果流通模式。该模式既帮助水果产地解决了销售通路难题，更是让终端“小B”免去了凌晨采购、无议价能力等烦恼。
     <br/>
    <br/>
    <p class="jiacu">产业升级带来广阔商机
    <br/>
    <br/>
    <p> &nbsp;&nbsp;&nbsp;&nbsp;经过近些年水果电商的带动，水果产业的发展也取得了很大的成果。这也为水果电商的B2B 模式提供了很好的机遇，主要体现在以下几方面：首先，市场需求空间不断放大。随着国内消费水平的提升，很多消费者，尤其是一线二线城市的消费者，对优质水果产品的需求进一步提升，这为水果流通提供了强大的市场需求。其次，供给侧改革加速产业发展。传统的水果都是“净地销售”，在产品输出时大多是“裸果”输出，不讲求产品设计及包装，因此产品附加值的提升很难。随着国家供给侧结构性改革的推进，水果产区从提高供给质量出发，利用各种办法推进产业结构调整，进而为各大水果电商平台提供了标准化的优质水果货源，使水果从产地进行精品包装化，通过电商平台实现销售，既减少了产品的流通环节，又降低了水果因流通环节过多而发生的损耗风险。
</div>
<!--底部-->
<div class="foot">
    <div class="foot_top rela">
        <div class="foot_logo text-c">
            <img src="__HOME__img/footer/LOGO.jpg" alt=""/>
        </div>
        <div class="footer_nav">
            <ul class="cl">
                <li>
                    <a href="{:U('index')}">首&nbsp;&nbsp;页</a>
                </li>
                <li>
                    <a href="{:U('ygdinfo')}">公司简介</a>
                </li>
                <li>
                    <a href="{:U('intro_product')}">产品介绍</a>
                </li>
                <li>
                    <a href="{:U('joinus')}">我要加盟</a>
                </li>
                <li class="current">
                    <a href="{:U('news')}">新闻资讯</a>
                </li>
                <li >
                    <a href="{:U('recruit')}">招贤纳士</a>
                </li>
                <li>
                    <a href="{:U('contact_us')}">联系我们</a>
                </li>
            </ul>
        </div>
        <!--<div class="concat w">-->
        <ul class="concat w">
            <li class="email">
                <p><a href="mailto:customer@vsea.com.cn">customer@vsea.com.cn</a></p>
                <p class="phone">400-1515-771</p>
                <p class="company">深圳市云果达供应链有限公司</p>
                <p>水果行业最值得信赖的供应链服务商</p>
            </li>
            <li>
                <a href="###" class="code_ios">
                    <div><img src="__HOME__img/footer/IOS-erweima.jpg" alt=""/></div>
                    <p>云果达app(IOS版) </p>
                </a>
            </li>
            <li>
                <a href="###" class="code_az">
                    <div><img src="__HOME__img/footer/anzhuo-erweima.jpg" alt=""/></div>
                    <p>云果达app(安卓版) </p>
                </a>
            </li>

        </ul>


    </div>
    <div class="foot_bottom">
        ©2015-2017&nbsp;云果达&nbsp;版权所有&nbsp;粤ICP备17114601号
    </div>
</div>
<script src="__HOME__js/jquery-1.10.1.min.js"></script>
<script>
    //    导航
    $(".nav ul li").on('click', function () {
        $(this).addClass('active').siblings('li').removeClass('active');
    });

    $(".footer_nav ul li").on('click', function () {
        $(this).addClass('current').siblings('li').removeClass('current');
    });

    //    职位tab
    $(".recruit-content-tab ul li").on('click', function () {
        $(this).addClass('active').siblings('li').removeClass('active');
        if($(this).hasClass('all')){
            $('.recruit-content-content-b .item').addClass('active');
        }else{
            $('.recruit-content-content-b .item').removeClass('active');
            var className=$(this).attr('class');
            className=className.substr(0,className.length-6);
            $('.recruit-content-content-b .item.'+className+'').addClass('active');
        }
    });

    $(".slideDown").on('click', function () {
        var height=$(this).parents('.item-t').siblings('.item-b').find('.item-b-content').height()+80;
        console.log(height);
        $(this).toggleClass('active');
        if($(this).hasClass('active')){
            $(this).parents('.item-t').siblings('.item-b').css({
                'height':height,
                'border-bottom':'1px dotted #888'
            })
        }else {
            $(this).parents('.item-t').siblings('.item-b').css({
                'height':0,
                'border-bottom':'none'
            })
        }

    });
</script>
</body>
</html>