<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!--编码-->
    <meta charset="utf-8">
    <!--如果是IE浏览器，就自动调用最新的渲染方式-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--移动端视口的设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link href="__HOME__img/other/title.ico" rel="shortcut icon">
    <title>云果达</title>

    <link rel="stylesheet" href="__HOME__css/base.css">
    <!--<link rel="stylesheet" href="css/swiper-3.4.2.min.css">-->
    <link rel="stylesheet" href="__HOME__css/index.css">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries 因为在IE8及以下是不支持H5 C3 和 响应式，所以需要引入两个文件，让其支持-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// 响应式的功能不能使用file://的查看，而需要使用http://  https://-->
    <!--[if lt IE 9]>
    <script src="__HOME__lib/html5shiv/html5shiv.min.js"></script>
    <script src="__HOME__lib/respond/respond.js"></script>

    <![endif]-->

</head>
<body>
<!--导航、banner-->
<div class="to_top">
    <a href="#"><img src="__HOME__img/other/to_top.jpg" alt=""/></a>
</div>
<div class="info rela">
    <div class="nav-nav ab">
        <div class="w cl rela">
            <div class="fl logo">
                <a href="{:U('index')}">
                    <img src="__HOME__img/header/LOGO.jpg" alt="">
                </a>
            </div>
            <div class="fr">
                <ul>
                    <li>
                        <a href="{:U('index')}">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>
                    </li>
                    <li>
                        <a href="{:U('ygdinfo')}">公司简介</a>
                    </li>
                    <li>
                        <a href="{:U('intro_product')}">产品介绍</a>
                    </li>
                    <li>
                        <a href="{:U('joinUs')}">我要加盟</a>
                    </li>
                    <li class="active">
                        <a href="{:U('news')}">新闻资讯</a>
                    </li>
                    <li >
                        <a href="{:U('recruit')}">招贤纳士</a>
                    </li>
                    <li>
                        <a href="{:U('contact_us')}">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="app ab">
                <a href="mailto:customer@vsea.com.cn"><img src="__HOME__img/header/button-e-mail-hover.jpg" class="app-l" alt=""></a>
                <a href="{:U('intro_product')}#aa"><img src="__HOME__img/header/button-app-download-hover.jpg" class="app-r" alt=""></a>
            </div>
        </div>
    </div>
    <div class="nav-banner text-c rela">
        <img src="__HOME__img/banner/banner-new2.jpg" alt=""/>
        <div class="recruit-c ab">
            <img src="__HOME__img/banner/text-new.jpg" alt="">
        </div>
    </div>
</div>
<!--热点新闻-->
<div class="hot_news">
     <div class="news_title w">
         <div class="news_text rela">
             <p>热点新闻</p>
             <span class="ab"></span>
             <p>HOT NEWS</p>
         </div>
         <div class="fruit_pic">
             <ul class="clearfix news-ul">
                 <li>
                     <a href="{:U('news_infomaition')}">
                         <div class="img-hot"></div>
                         <p class="new_t">水果电商发展得前景展望</p>
                         <p class="time">2017-09-28</p>
                     </a>
                 </li>
                 <li>
                     <a href="#">
                         <div class="img-hot"></div>
                     <p class="new_t">如何挑选花牛苹果</p>
                     <p class="time">2017-09-20</p>
                    </a>
                 </li>
                 <li>
                     <a href="#">
                         <div class="img-hot"></div>
                         <p class="new_t">2017年平和琯溪蜜柚最新行情</p>
                     <p class="time">2017-09-20</p>
                 </a>
                 </li>
             </ul>
         </div>
     </div>

</div>
<!--云果达动态-->
<div class="ygd_dynamic">w
    <div class="dynamic w">
        <div class="news_text rela">
            <p>云果达动态</p>
            <span class="ab"></span>
            <p>HOT NEWS</p>
        </div>
        <ul class="w">
            <li>
                <a href="#" class="rela">
                    <div class="img ab"></div>
                    <div class="text ab">
                        <h3>中国商业经济学会农产品促进委员会正式成立</h3>
                        <p>2017-09-21</p>
                        <p>2017年9月18日下午，中国商业经济学会农产品促进委员会成立仪式在深圳龙华时代科融中心17层隆重举行。出席本次会议的有</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="rela">
                    <div class="img ab"></div>
                    <div class="text ab">
                        <h3>深圳市</h3>
                        <p>2017-09-21</p>
                        <p>2017年9月18日下午，中国商业经济学会农产品促进委员会成立仪式在深圳龙华时代科融中心17层隆重举行。出席本次会议的有</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--底部-->
<div class="foot">
    <div class="foot_top rela">
        <div class="foot_logo text-c">
            <img src="__HOME__img/footer/LOGO.jpg" alt=""/>
        </div>
        <div class="footer_nav">
            <ul class="cl">
                <li>
                    <a href="{:U('index')}">首&nbsp;&nbsp;页</a>
                </li>
                <li>
                    <a href="{:U('ygdinfo')}">公司简介</a>
                </li>
                <li>
                    <a href="{:U('intro_product')}">产品介绍</a>
                </li>
                <li>
                    <a href="{:U('joinUs')}">我要加盟</a>
                </li>
                <li class="current">
                    <a href="{:U('news')}">新闻资讯</a>
                </li>
                <li >
                    <a href="{:U('recruit')}">招贤纳士</a>
                </li>
                <li>
                    <a href="{:U('contact_us')}">联系我们</a>
                </li>
            </ul>
        </div>
        <!--<div class="concat w">-->
        <ul class="concat w">
            <li class="email">
                <p><a href="mailto:customer@vsea.com.cn">customer@vsea.com.cn</a></p>
                <p class="phone">400-1515-771</p>
                <p class="company">深圳市云果达供应链有限公司</p>
                <p>水果行业最值得信赖的供应链服务商</p>
            </li>
            <li>
                <a href="###" class="code_ios">
                    <div><img src="__HOME__img/footer/IOS-erweima.jpg" alt=""/></div>
                    <p>云果达app(IOS版) </p>
                </a>
            </li>
            <li>
                <a href="###" class="code_az">
                    <div><img src="__HOME__img/footer/anzhuo-erweima.jpg" alt=""/></div>
                    <p>云果达app(安卓版) </p>
                </a>
            </li>

        </ul>


    </div>
    <div class="foot_bottom">
        ©2015-2017&nbsp;云果达&nbsp;版权所有&nbsp;粤ICP备17114601号
    </div>
</div>
<script src="__HOME__js/jquery-1.10.1.min.js"></script>
<script>
    //    导航
    $(".nav ul li").on('click', function () {
        $(this).addClass('active').siblings('li').removeClass('active');
    });

    $(".footer_nav ul li").on('click', function () {
        $(this).addClass('current').siblings('li').removeClass('current');
    });

    //    职位tab
    $(".recruit-content-tab ul li").on('click', function () {
        $(this).addClass('active').siblings('li').removeClass('active');
        if($(this).hasClass('all')){
            $('.recruit-content-content-b .item').addClass('active');
        }else{
            $('.recruit-content-content-b .item').removeClass('active');
            var className=$(this).attr('class');
            className=className.substr(0,className.length-6);
            $('.recruit-content-content-b .item.'+className+'').addClass('active');
        }
    });

    $(".slideDown").on('click', function () {
        var height=$(this).parents('.item-t').siblings('.item-b').find('.item-b-content').height()+80;
        console.log(height);
        $(this).toggleClass('active');
        if($(this).hasClass('active')){
            $(this).parents('.item-t').siblings('.item-b').css({
                'height':height,
                'border-bottom':'1px dotted #888'
            })
        }else {
            $(this).parents('.item-t').siblings('.item-b').css({
                'height':0,
                'border-bottom':'none'
            })
        }

    });

</script>
</body>
</html>