<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!--编码-->
    <meta charset="utf-8">
    <!--如果是IE浏览器，就自动调用最新的渲染方式-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--移动端视口的设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link href="__HOME__img/other/title.ico" rel="shortcut icon">
    <title>云果达</title>

    <link rel="stylesheet" href="__HOME__css/base.css">
    <!--<link rel="stylesheet" href="css/swiper-3.4.2.min.css">-->
    <link rel="stylesheet" href="__HOME__css/index.css">
    <!--<link rel="stylesheet" href="css/recruit.css">-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries 因为在IE8及以下是不支持H5 C3 和 响应式，所以需要引入两个文件，让其支持-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// 响应式的功能不能使用file://的查看，而需要使用http://  https://-->
    <!--[if lt IE 9]>
    <script src="__HOME__lib/html5shiv/html5shiv.min.js"></script>
    <script src="__HOME__lib/respond/respond.js"></script>

    <![endif]-->

</head>
<body>
<!--导航、banner-->
<div class="to_top">
    <a href="#"><img src="__HOME__img/other/to_top.jpg" alt=""/></a>
</div>
<div class="info rela">
    <div class="nav-nav ab">
        <div class="w cl rela">
            <div class="fl logo">
                <a href="{:U('index')}">
                    <img src="__HOME__img/header/LOGO.jpg" alt="">
                </a>
            </div>
            <div class="fr">
                <ul>
                    <li>
                        <a href="{:U('index')}">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>
                    </li>
                    <li>
                        <a href="{:U('ygdinfo')}">公司简介</a>
                    </li>
                    <li>
                        <a href="{:U('intro_product')}">产品介绍</a>
                    </li>
                    <li>
                        <a href="{:U('joinus')}">我要加盟</a>
                    </li>
                    <li>
                        <a href="{:U('news')}">新闻资讯</a>
                    </li>
                    <li class="active">
                        <a href="{:U('recruit')}">招贤纳士</a>
                    </li>
                    <li>
                        <a href="{:U('contact_us')}">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="app ab">
                <a href="mailto:customer@vsea.com.cn"><img src="__HOME__img/header/button-e-mail-hover.jpg" class="app-l" alt=""></a>
                <a href="{:U('intro_product')}#aa"><img src="__HOME__img/header/button-app-download-hover.jpg" class="app-r" alt=""></a>
            </div>
        </div>
    </div>
    <div class="nav-banner text-c rela">
        <img src="__HOME__img/banner/banner-zp.jpg" alt=""/>
        <div class="recruit-c ab">
            <img src="__HOME__img/banner/slogn-zp.jpg" alt="">
        </div>
    </div>
</div>
<!--职位-->
<div class="recruit-content">
    <div class="recruit-content-tab">
        <div class="w cl">
            <div class="fl area">深圳市</div>
            <ul class="fl">
                <li class="all active">全部</li>
                <li class="design">设计/研发</li>
                <li class="product">产品/体验</li>
                <li class="service">客服服务</li>
                <li class="market">市场及销售</li>
                <li class="manage">管理支持</li>
            </ul>
        </div>
    </div>
    <div class="zwxx w">
        <div class="fl">
            职位信息
        </div>
        <div class="fr">
            <!--共<span>4</span>个在招职位-->
        </div>
    </div>
    <div class="recruit-content-content w active">
        <div class="recruit-content-content-t">
            <ul>
                <li>职位名称</li>
                <li>工作经验</li>
                <li>学历</li>
                <li>岗位类型</li>
                <li>招聘人数</li>
                <li>发布时间</li>
            </ul>
        </div>
        <div class="recruit-content-content-b">
            <div class="item active product">
                <div class="item-t">
                    <ul>
                        <li>产品经理</li>
                        <li>3-5年</li>
                        <li>大专及以上</li>
                        <li>全职</li>
                        <li>1人</li>
                        <li>2017-09-01</li>
                        <li class="slideDown"><i></i></li>
                    </ul>
                </div>
                <div class="item-b">
                    <div class="item-b-content rela">
                        <div class="item-b-content-c">
                            <p class="title">福利待遇</p>
                            <p class="text">-享受五险缴纳、以及法定节假日带薪休；</p>
                            <p class="text">-公司不定时的娱乐比赛活动；每个月两次以上部门聚餐活动；每个季度一次拓展活动；每年一次集体省外旅游；</p>
                            <p class="text">-优秀员工奖，年底分红、股东期权、十三薪等奖励；</p>
                            <p class="text">-集体生日party、各类福利补贴（餐补，话补，交通补贴，以及住房补贴等）；</p>
                            <p class="text">-半年一次优秀员工，优秀经理带薪旅游（出省游或是出国游）。</p>
                        </div>
                        <div class="item-b-content-c">
                            <p class="title">岗位职责</p>
                            <p class="text">-负责公司网站站点系统的产品策划和改进工作，提升用户体验；</p>
                            <p class="text">-负责编写产品需求说明，设计产品模型，协助开发团队理解和掌握需求，对产品需求方向和易用性负责；</p>
                            <p class="text">-负责相关产品开发项目周期和进度把控，确保对产品开发至最终上线运营，对进度质量负责；</p>
                            <p class="text">-负责跨部门协调和沟通，推动UI、开发、测试、运营等人员紧密合作达成产品目标；</p>
                            <p class="text">-协调产品上线前的产品文档整理等配合工作。</p>
                        </div>
                        <div class="item-b-content-c">
                            <p class="title">任职要求</p>
                            <p class="text">-具备独立撰写产品文档的能力，熟练掌握产品需求分析、设计技巧；</p>
                            <p class="text">-熟悉互联网或软件产品整体实现过程，包括从需求分析到产品发布；</p>
                            <p class="text">-具备较强的逻辑思维能力、学习创新能力、数据分析能力和语言表达能力；</p>
                            <p class="text">-良好的沟通协调技巧和团队合作意识，能承受较大的工作压力；</p>
                            <p class="text">-熟练使用Word.Excel.Powerpoint.Visio.Axure等办公应用软件；</p>
                            <p class="text">-3年以上B2B电商从业经验。</p>
                        </div>
                        <div class="item-b-content-c">
                            <p><span class="title">工作时间</span><span class="text">：9:00-18:00</span></p>
                            <p><span class="title">联系电话</span><span class="text">：0755-88899165</span></p>
                            <p><span class="title">工作地址</span><span class="text">：深圳市龙华新区龙观路时代科融中心17楼</span></p>
                        </div>
                        <a href="mailto:hr@vsea.com.cn" class="sqzw">
                            申请职位&nbsp;hr@vsea.com.cn
                        </a>
                    </div>
                </div>
            </div>
            <div class="item active design">
                <div class="item-t">
                    <ul>
                        <li>技术总监</li>
                        <li>6-10年</li>
                        <li>本科及以上</li>
                        <li>全职</li>
                        <li>1人</li>
                        <li>2017-09-01</li>
                        <li class="slideDown"><i></i></li>
                    </ul>
                </div>
                <div class="item-b">
                    <div class="item-b-content rela">
                        <div class="item-b-content-c">
                            <p class="title">福利待遇</p>
                            <p class="text">-享受五险缴纳、以及法定节假日带薪休；</p>
                            <p class="text">-公司不定时的娱乐比赛活动；每个月两次以上部门聚餐活动；每个季度一次拓展活动；每年一次集体省外旅游；</p>
                            <p class="text">-优秀员工奖，年底分红、股东期权、十三薪等奖励；</p>
                            <p class="text">-集体生日party、各类福利补贴（餐补，话补，交通补贴，以及住房补贴等）；</p>
                            <p class="text">-半年一次优秀员工，优秀经理带薪旅游（出省游或是出国游）。</p>
                        </div>
                        <div class="item-b-content-c">
                            <p class="title">岗位职责</p>
                            <p class="text">-负责公司电商平台WEB、移动端产品线的架构改造、升级、研究与开发；</p>
                            <p class="text">-关注互联网热点技术（Web前后端、分布式、搜索引擎、大数据、推荐系统、HTML5、APP开发、即时通讯、Linux等）的发展方向，敢于提出、评估并应用新技术，带领团队开发新 的工具，帮助提高现有系统的效率、降低运营成本、提高可靠性；</p>
                            <p class="text">-作为技术专家，解决系统开发中的疑难问题、系统瓶颈等。在产品特性与架构演化之间做出良好的技术决策、平衡与取舍；</p>
                            <p class="text">-能够与产品经理、管理团队进行良好地沟通合作，确保项目按时、保质完成，培养若干有潜质的工程师。</p>
                        </div>
                        <div class="item-b-content-c">
                            <p class="title">任职要求</p>
                            <p class="text">-本科以上学历，计算机相关专业，6年以上工作经验，其中至少4年以上的大型互联网系统开发经验，2年以上的项目管理经验；</p>
                            <p class="text">-熟悉PHP开发语言并掌握多种主流程序设计语言。有大型服务器后台程序设计与运营经验；或有大型Web或APP应用开发和架构经验；</p>
                            <p class="text">-熟悉Linux操作系统、网络和关系型数据库的应用开发与优化；</p>
                            <p class="text">-对设计模式、软件工程、用户体验、分布式系统等有较深入的理解；</p>
                            <p class="text">-擅长组织、沟通及协调各方资源，具备一定的技术团队管理经验。</p>
                        </div>
                        <div class="item-b-content-c">
                            <p><span class="title">工作时间</span><span class="text">：9:00-18:00</span></p>
                            <p><span class="title">联系电话</span><span class="text">：0755-88899165</span></p>
                            <p><span class="title">工作地址</span><span class="text">：深圳市龙华新区龙观路时代科融中心17楼</span></p>
                        </div>
                        <a href="mailto:hr@vsea.com.cn" class="sqzw">
                            申请职位&nbsp;hr@vsea.com.cn
                        </a>
                    </div>
                </div>
            </div>
            <div class="item active market">
                <div class="item-t">
                    <ul>
                        <li>水果采购</li>
                        <li>1年</li>
                        <li>大专及以上</li>
                        <li>全职</li>
                        <li>1人</li>
                        <li>2017-09-01</li>
                        <li class="slideDown"><i></i></li>
                    </ul>
                </div>
                <div class="item-b">
                    <div class="item-b-content rela">
                        <div class="item-b-content-c">
                            <p class="title">福利待遇</p>
                            <p class="text">-享受五险缴纳、以及法定节假日带薪休；</p>
                            <p class="text">-公司不定时的娱乐比赛活动；每个月两次以上部门聚餐活动；每个季度一次拓展活动；每年一次集体省外旅游；</p>
                            <p class="text">-优秀员工奖，年底分红、股东期权、十三薪等奖励；</p>
                            <p class="text">-集体生日party、各类福利补贴（餐补，话补，交通补贴，以及住房补贴等）；</p>
                            <p class="text">-半年一次优秀员工，优秀经理带薪旅游（出省游或是出国游）。</p>
                        </div>
                        <div class="item-b-content-c">
                            <p class="title">岗位职责</p>
                            <p class="text">-负责完成采购目标和计划，考察供货商的产品质量、供货能力、企业质量保证能力、企业信誉等方面，在现有供应商基础上不断寻求新的供应商，以确保供应资源的丰富与宽阔的选择范围，负责新增供应商的寻访、调查，并组织相关部门进行评估、审查；</p>
                            <p class="text">-根据运营部下的计划制作相应计划量，根据计划和仓库的剩余数量作出初采购计划，再根据品种和物料的数量评估作出最终采购计划；</p>
                            <p class="text">-协助经理做好采购流程的控制,并提出优化建议；</p>
                            <p class="text">-分析供应商市场信息，及时收集相关信息确定短期和长期的供应商和供应渠道。根据业务部门的采购需要，完成产品询价和议价，并做好记录；整理供应商报价及产品等各项信息汇总，选定价格合理、水果质量可靠、信誉好服务优质的供应商，建立长期合作；维持与供应商的关系，协商竞争价格和劳务合同。对供应商进行询价、比价、议价，并上报相关信息(交货周期、运输、最低订购量、包装要求、品质标准、价格条件等)；</p>
                            <p class="text">-负责采购合同的拟定、执行及跟进，采购物品交货期的跟踪及控制。负责与客户签订采购合同，执行采购合同订单的下发、物料验收及付款流程，履行跟进落实工作；跟踪货款支付情况及发票到位情况，及时与财务部门沟通；</p>
                            <p class="text">-产品质量跟踪及产品到达仓库入库情况的跟进。办理物料验收、运输入库、清点交接等手续；协助仓库和质检检验产品质量，如不合格则及时与供应商协商退换货；</p>
                            <p class="text">-处理退换货及一般赔偿事宜；</p>
                            <p class="text">-协助有关部门妥善解决使用过程中出现的问题；</p>
                            <p class="text">-整理和登记采购合同及各类文件，记录到货时间；</p>
                            <p class="text">-保管采购记录、购货合同、供应商信息；</p>
                            <p class="text">-每月编制采购总表，根据各部门的需要提供相关信息；</p>
                            <p class="text">-仓库的定期盘点管理工作；</p>
                            <p class="text">-完成上级交给的其它事务性工作；</p>
                            <p class="text">-做到遵纪守法、秉公办事、大公无私、廉洁自律的职业道德，做到诚实虚心、尽职尽责、不断学习业务知识，提高业务工作能力的敬业精神。</p>
                        </div>
                        <div class="item-b-content-c">
                            <p class="title">任职要求</p>
                            <p class="text">-水果采购3年经验优先；</p>
                            <p class="text">-大型商超生鲜采购经验优先；</p>
                            <p class="text">-良好的职业操守；</p>
                            <p class="text">-制定采购标准流程；</p>
                            <p class="text">-水果产地资源者优先。</p>
                        </div>
                        <div class="item-b-content-c">
                            <p><span class="title">工作时间</span><span class="text">：9:00-18:00</span></p>
                            <p><span class="title">联系电话</span><span class="text">：0755-88899165</span></p>
                            <p><span class="title">工作地址</span><span class="text">：深圳市龙华新区龙观路时代科融中心17楼</span></p>
                        </div>
                        <a href="mailto:hr@vsea.com.cn" class="sqzw">
                            申请职位&nbsp;hr@vsea.com.cn
                        </a>
                    </div>
                </div>
            </div>
            <div class="item active manage">
                <div class="item-t">
                    <ul>
                        <li>BD主管</li>
                        <li>3-5年</li>
                        <li>大专及以上</li>
                        <li>全职</li>
                        <li>1人</li>
                        <li>2017-09-01</li>
                        <li class="slideDown"><i></i></li>
                    </ul>
                </div>
                <div class="item-b">
                    <div class="item-b-content rela">
                        <div class="item-b-content-c">
                            <p class="title">福利待遇</p>
                            <p class="text">-享受五险缴纳、以及法定节假日带薪休；</p>
                            <p class="text">-公司不定时的娱乐比赛活动；每个月两次以上部门聚餐活动；每个季度一次拓展活动；每年一次集体省外旅游；</p>
                            <p class="text">-优秀员工奖，年底分红、股东期权、十三薪等奖励；</p>
                            <p class="text">-集体生日party、各类福利补贴（餐补，话补，交通补贴，以及住房补贴等）；</p>
                            <p class="text">-半年一次优秀员工，优秀经理带薪旅游（出省游或是出国游）。</p>
                        </div>
                        <div class="item-b-content-c">
                            <p class="title">岗位职责</p>
                            <p class="text">-负责根据公司制订的市场开发与拓展各项管理规定、制度，开发与拓展高端客户群体和渠道；</p>
                            <p class="text">-负责根据总体战略目标、市场开发与拓展战略规划，制订线下市场开发拓展的计划， 并实现目标、计划；</p>
                            <p class="text">-负责BD部开发与拓展费用的预算，严格控制费用支出与合理运用；</p>
                            <p class="text">-负责拓展营销政策方案的制订，呈报负责人审批；</p>
                            <p class="text">-负责开发与拓展市场信息收集、分析信息，编写市场合作方案，同时对市场合作预期进行前瞻性预测；</p>
                            <p class="text">-负责部门人员的管理，制定拓展人员编制计划，并予以检查控制；</p>
                            <p class="text">-负责线下渠道门店维护与管理；</p>
                            <p class="text">-负责线下渠道合作客户的评估、转化情况、合作客户要求的确认，以及签订合同完成后的后期跟踪与 其它部门衔接服务工作；</p>
                            <p class="text">-负责所管辖地区所有合作意向门店资料的收集、整理，并建立档案。</p>
                        </div>
                        <div class="item-b-content-c">
                            <p class="title">任职要求</p>
                            <p class="text">-3年以上地推经验，1年以上管理经验；</p>
                            <p class="text">-男性优先；</p>
                            <p class="text">-有策划及执行的成功案例，拥有丰富市场合作资源；</p>
                            <p class="text">-具备良好的沟通技巧，可独立进行合作谈判沟通，并给出合作分析评估；</p>
                            <p class="text">-熟练使用办公软件，良好的沟通汇报技能。</p>
                        </div>
                        <div class="item-b-content-c">
                            <p><span class="title">工作时间</span><span class="text">：9:00-18:00</span></p>
                            <p><span class="title">联系电话</span><span class="text">：0755-88899165</span></p>
                            <p><span class="title">工作地址</span><span class="text">：深圳市龙华新区龙观路时代科融中心17楼</span></p>
                        </div>
                        <a href="mailto:hr@vsea.com.cn" class="sqzw">
                            申请职位&nbsp;hr@vsea.com.cn
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div class="foot">
    <div class="foot_top rela">
        <div class="foot_logo text-c">
            <img src="__HOME__img/footer/LOGO.jpg" alt=""/>
        </div>
        <div class="footer_nav">
            <ul class="cl">
                <li>
                    <a href="{:U('index')}">首&nbsp;&nbsp;页</a>
                </li>
                <li>
                    <a href="{:U('ygdinfo')}">公司简介</a>
                </li>
                <li>
                    <a href="{:U('intro_product')}">产品介绍</a>
                </li>
                <li>
                    <a href="{:U('joinus')}">我要加盟</a>
                </li>
                <li>
                    <a href="{:U('news')}">新闻资讯</a>
                </li>
                <li class="current">
                    <a href={:U('recruit')}">招贤纳士</a>
                </li>
                <li>
                    <a href="{:U('contact_us')}">联系我们</a>
                </li>
            </ul>
        </div>
        <!--<div class="concat w">-->
        <ul class="concat w">
            <li class="email">
                <p><a href="mailto:customer@vsea.com.cn">customer@vsea.com.cn</a></p>
                <p class="phone">400-1515-771</p>
                <p class="company">深圳市云果达供应链有限公司</p>
                <p>水果行业最值得信赖的供应链服务商</p>
            </li>
            <li>
                <a href="###" class="code_ios">
                    <div><img src="__HOME__img/footer/IOS-erweima.jpg" alt=""/></div>
                    <p>云果达app(IOS版) </p>
                </a>
            </li>
            <li>
                <a href="###" class="code_az">
                    <div><img src="__HOME__img/footer/anzhuo-erweima.jpg" alt=""/></div>
                    <p>云果达app(安卓版) </p>
                </a>
            </li>

        </ul>


    </div>
    <div class="foot_bottom">
        ©2015-2017&nbsp;云果达&nbsp;版权所有&nbsp;粤ICP备17114601号
    </div>
</div>
<script src="__HOME__js/jquery-1.10.1.min.js"></script>
<script>
    //    导航
    $(".nav ul li").on('click', function () {
        $(this).addClass('active').siblings('li').removeClass('active');
    });

    $(".footer_nav ul li").on('click', function () {
        $(this).addClass('current').siblings('li').removeClass('current');
    });

    //    职位tab
    $(".recruit-content-tab ul li").on('click', function () {
        $(this).addClass('active').siblings('li').removeClass('active');
        if($(this).hasClass('all')){
            $('.recruit-content-content-b .item').addClass('active');
        }else{
            $('.recruit-content-content-b .item').removeClass('active');
            var className=$(this).attr('class');
                className=className.substr(0,className.length-6);
            $('.recruit-content-content-b .item.'+className+'').addClass('active');
        }
    });

    $(".slideDown").on('click', function () {
        var height=$(this).parents('.item-t').siblings('.item-b').find('.item-b-content').height()+80;
        console.log(height);
        $(this).toggleClass('active');
        if($(this).hasClass('active')){
            $(this).parents('.item-t').siblings('.item-b').css({
                'height':height,
                'border-bottom':'1px dotted #888'
            })
        }else {
            $(this).parents('.item-t').siblings('.item-b').css({
                'height':0,
                'border-bottom':'none'
            })
        }

    });
</script>
</body>
</html>